// tests/nextflow.config
process {
    withName: XENGSORT_INDEX {
        ext.nobjects = 400000
        ext.kmersize = 25
    }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

profiles {
    docker {
        docker.enabled = true
    }

    conda {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = true
        conda.useMamba = false
    }
}
