/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'DEEPSOMATIC' {
        ext.args = { params.wes ? '--model_type=WES' : '--model_type=WGS' }
        ext.output_gvcf = false
        ext.prefix = { meta.num_intervals <= 1 ? "${meta.id}.deepsomatic" : "${meta.id}.deepsomatic.${intervals.baseName}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}",
            saveAs: { filename -> meta.num_intervals > 1 ? null : "deepsomatic/${meta.id}/${filename}" }
        ]
    }

    withName: 'MERGE_DEEPSOMATIC_VCF' {
        ext.prefix = { "${meta.id}.deepsomatic" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/deepsomatic/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

}
