
// INDEXCOV

process {
    if (params.tools && params.tools.split(',').contains('indexcov')) {

        withName: 'SAMTOOLS_REINDEX_BAM' {
            ext.args  = { ' -F 3844 -q 30 ' } // high mapq , primary read paired properly mapped
        }

        withName: 'GOLEFT_INDEXCOV' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/indexcov/" }
                ]

        }

    }

}
