/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/


process {
    if (params.tools && params.tools.split(',').contains('indexcov')) {
        withName: 'SAMTOOLS_INDEX_FOR_INDEXCOV' {
            ext.when         =  { !params.wes }
            ext.args         = {"-F 3844 -q 30"}
            ext.prefix       = { "${meta.id}" }
            publishDir = [
		enabled : false
		]
        }
    }
}
