process {
    withName: ".*BAM_NGSCHECKMATE:BCFTOOLS_MPILEUP" {

        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/ngscheckmate/vcfs" },
            pattern: "*{vcf.gz}"
        ]
        ext.prefix = { "${meta.id}.ngscheckmate" }
        ext.when   = { params.tools && params.tools.split(',').contains('ngscheckmate') }
        ext.args2 = '--no-version --ploidy 1 -c'
        ext.args3 = '--no-version'
    }

    withName: ".*BAM_NGSCHECKMATE:NGSCHECKMATE_NCM" {
        ext.args = '-V'

        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/ngscheckmate/" },
            pattern: "*"
        ]

    }

}
