/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// PARABRICKS MUTECTCALLER

process {

    withName: 'PARABRICKS_MUTECTCALLER' {
        ext.args   = { [
            "--tumor-name ${meta.patient}_${meta.tumor_id ?: meta.sample}",
            meta.normal_id ? "--normal-name ${meta.patient}_${meta.normal_id}" : '',
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.parabricks_mutectcaller" }
        ext.when   = { params.tools && params.tools.split(',').contains('parabricks_mutectcaller') }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/parabricks_mutectcaller/${meta.id}" },
            pattern: "*{vcf.gz,vcf.gz.stats}"
        ]
    }

    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_SOMATIC_ALL:BAM_VARIANT_CALLING_SOMATIC_PARABRICKS_MUTECTCALLER:TABIX_TABIX' {
        ext.when   = { params.tools && params.tools.split(',').contains('parabricks_mutectcaller') }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/parabricks_mutectcaller/${meta.id}" },
            pattern: "*{vcf.gz.tbi}"
        ]
    }

}
