/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// PARABRICKS DEEPVARIANT

process {

    withName: 'PARABRICKS_DEEPVARIANT' {
        ext.args   = { params.wes ? "--mode wes" : "" }
        ext.prefix = { "${meta.id}.parabricks_deepvariant" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/parabricks_deepvariant/${meta.id}/" },
            pattern: "*.vcf.gz"
        ]
    }

    withName: 'TABIX_VC_PARABRICKS_DEEPVARIANT' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/parabricks_deepvariant/${meta.id}/" },
            pattern: "*.tbi"
        ]
    }

}
