/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// POSTPROCESSING VCFS
// Like, for instance, concatenating the unannotated, germline vcf-files

process {

    withName: 'FILTER_VCFS' {
        ext.args = { [ params.bcftools_filter_criteria,
                        "--output-type z --write-index=tbi"
                    ].join(" ").trim() }
        ext.prefix = { vcf.baseName - '.vcf' + '.bcftools_filtered' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/filtered/${meta.id}/" },
            pattern: "*{.tbi,.vcf.gz}"
        ]
    }

    withName: 'ADD_INFO_TO_VCF' {
        publishDir = [ enabled: false ]
    }

    withName: 'TABIX_EXT_VCF' {
        ext.prefix = { "${input.baseName}" }
        publishDir = [ enabled: false ]
    }

    withName: 'VCFS_NORM' {
        ext.prefix = { vcf.baseName - '.added_info.vcf' + '.norm' }
        ext.args = { [
            '--multiallelics -both', // split multiallelic sites into biallelic records and both SNPs and indels should be merged separately into two records
            '--rm-dup all'           // output only the first instance of a record which is present multiple times
        ].join(' ') }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'VCFS_NORM_SORT' {
        ext.prefix = { vcf.baseName - '.vcf' + '.sorted' }
        ext.args   = "--output-type z --write-index=tbi"
        ext.when   = { params.normalize_vcfs }
        publishDir = [
            mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/normalized/${meta.id}/" },
                pattern: "*{vcf.gz,tbi}"
        ]
    }

    withName: 'GERMLINE_VCFS_CONCAT' {
        ext.args   = { "-a --output-type z" }
        publishDir = [ enabled: false ]
    }

    withName: 'GERMLINE_VCFS_CONCAT_SORT' {
        ext.prefix = { "${meta.id}.germline" }
        ext.args   = "--output-type z --write-index=tbi"
        publishDir = [
            mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/concat/${meta.id}/" },
                pattern: "*{vcf.gz,tbi}"
        ]
    }
}
