/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// PREPARE_GENOME

process {

    withName: 'CNVKIT_ANTITARGET' {
        ext.when         = { params.tools && params.tools.split(',').contains('cnvkit') }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference" },
            pattern: "*{bed}",
            saveAs: { params.save_reference || params.build_only_index ? "cnvkit/${it}" : null }
        ]
    }

    withName: 'CNVKIT_REFERENCE' {
        ext.prefix       = { 'cnvkit' }
        ext.when         = { params.tools && params.tools.split(',').contains('cnvkit') && !params.cnvkit_reference }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference" },
            pattern: "*{cnn}",
            saveAs: { params.save_reference || params.build_only_index ? "cnvkit/${it}" : null }
        ]
    }

    withName: 'UNZIP_ALLELES|UNZIP_LOCI|UNZIP_GC|UNZIP_RT' {
        ext.when         = { params.tools && params.tools.split(',').contains('ascat')}
        publishDir       = [
            enabled: false
        ]
    }

    withName: 'UNTAR_CHR_DIR' {
        ext.prefix       = 'chr_dir'
        ext.when         = { params.tools && params.tools.split(',').contains('controlfreec')}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/" },
            saveAs: { (params.save_reference || params.build_only_index) && !it.equals('versions.yml') ? it : null }
        ]
    }
}
