/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// PREPARE_GENOME && PREPARE_REFERENCE_CNVKIT
process {

    withName: '.*:PREPARE_GENOME:BBMAP_BBSPLIT' {
        ext.args   = 'build=1'
    }

    withName: 'BWAMEM1_INDEX' {
        ext.prefix = { params.aligner == "parabricks" ? "${fasta.name}" : "${fasta.baseName}" }
    }

    withName: 'CNVKIT_ANTITARGET' {
        ext.when   = { params.tools && params.tools.split(',').contains('cnvkit') }
    }

    withName: 'CNVKIT_REFERENCE' {
        ext.prefix = { 'cnvkit' }
        ext.when   = { params.tools && params.tools.split(',').contains('cnvkit') && !params.cnvkit_reference }
    }

    withName: 'UNTAR_CHR_DIR' {
        ext.prefix       = 'chr_dir'
    }

    withName: 'UNTAR_MSISENSOR2_MODELS' {
        ext.prefix = 'models'
    }
}
