/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// SENTIEON TNSCOPE

process {

    withName: 'SENTIEON_TNSCOPE' {
        ext.prefix       = { meta.num_intervals <= 1 ? "${meta.id}.tnscope" : "${meta.id}.tnscope.${intervals.baseName}" }
        ext.args2        = { meta.normal_id ? 
                             "--tumor_sample ${meta.patient}_${meta.tumor_id} --normal_sample ${meta.patient}_${meta.normal_id}" :
                             "--tumor_sample ${meta.patient}_${meta.sample}" }
        ext.when         = { params.tools && params.tools.split(',').contains('sentieon_tnscope') }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/"},
            pattern: "*{vcf.gz,vcf.gz.tbi}",
            saveAs: { meta.num_intervals > 1 ? null : "sentieon_tnscope/${meta.id}/${it}" }
        ]
    }

    withName: 'MERGE_TNSCOPE.*' {
        ext.prefix = { "${meta.id}.tnscope" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/sentieon_tnscope/${meta.id}" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

}
