/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// TMB

process {

    withName: 'BCFTOOLS_NORM' {
        ext.args = { "-m- -c w" }
        ext.prefix = { vcf.baseName - ".vcf" + ".norm" }
        ext.when = { meta.dbconfig && meta.varconfig }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/tmb/${meta.id}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TMB' {
        ext.args = { [
            "--sample ${meta.patient}_${meta.sample}",
            params.tmb_effgenomesize ? "--effGenomeSize ${params.tmb_effgenomesize}" : '',
            '--vaf 0.05',
            '--maf 1',
            '--minDepth 100',
            '--minAltDepth 2',
            '--filterLowQual',
            '--filterNonCoding',
            '--filterSyn',
            '--filterPolym',
            '--polymDb 1k,gnomad,dbsnp'
            ].join(' ').trim()
        }
        ext.prefix = { vcf.baseName }
        ext.when = { dbconfig && varconfig }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/tmb/${meta.id}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
