/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

process{
        withName: 'VARDICTJAVA' {
        ext.args   = { "-c 1 -S 2 -E 3 -g 4 --nosv --deldupvar -Q 10 -F 0x700 -f 0.1 -N ${meta.sample}_${meta.patient}"} //
        ext.args2  = { "-f 0.1 -A -N ${meta.sample}_${meta.patient}" }
        ext.prefix = { meta.num_intervals <= 1 ? "${meta.id}.vardictjava" : "${meta.id}.vardictjava.${intervals.simpleName}" }
        ext.when   = { params.tools && params.tools.split(',').contains('vardictjava') }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}",
            saveAs: { meta.num_intervals > 1 ? null : "vardictjava/${meta.id}/${it}" }
        ]
    }

    withName: 'MERGE_VARDICTJAVA' {
        ext.prefix = { "${meta.id}.vardictjava" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/vardictjava/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }
}
