/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// VARNET

process {

    withName: 'VARNET_FILTER|VARNET_PREDICT' {
        ext.when = { params.tools && params.tools.split(',').contains('varnet') }
        ext.prefix = { "${meta.id}" }
    }

    withName: TABIX_VARNET {
        ext.when = { params.tools && params.tools.split(',').contains('varnet') }
        // must differ from the VARNET_PREDICT output name
        ext.prefix = { "${meta.id}.varnet" }
        publishDir = [mode: params.publish_dir_mode, path: { "${params.outdir}/variant_calling/varnet/${meta.id}/" }, pattern: "*{vcf.gz,vcf.gz.tbi}"]
    }
}
