.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
*.code-workspace
.nf-test*
.nf-test/
test-datasets/
test.tap
test.xml
.vscode/mcp.json
modules/nf-core/**/tests/
subworkflows/nf-core/**/tests/
