/* -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * Set up with test data
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'local'
  cpus = 1
  memory = '7 GB'
  time = '48h'
  queue = 'core'
  clusterOptions = {
    '-A b2015110'
  }
}

params {
  cawDirectory = '~/dev/CAW/work' // Your own CAW directory
  genome       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta'
  genomeIndex  = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta.fai'
  cosmic       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf'
  cosmicIndex  = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf.idx'
  dbsnp        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf'
  dbsnpIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf.idx'
  mutect1Home  = '/sw/apps/bioinfo/mutect/1.1.5/milou'
}