/* -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * Set up with test data
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'slurm'
  cpus = 1
  memory = '8 GB'
  time = '48h'
  queue = 'node'
  clusterOptions = {
    '-A b2013064 -t 30:00'
  }
}

params {
  cawDir       = '~/dev/CAW-fork' // Your own CAW directory
  sample       = 'tiny.tsv'
  sampleVcf    = 'data/chr17-1M-2M-test.vcf'
  out          = ''
  genome       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta'
  genomeIndex  = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta.fai'
  genomeDict   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.dict'
  cosmic       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf'
  cosmicIndex  = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf.idx'
  dbsnp        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf'
  dbsnpIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf.idx'
  kgIndels     = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf'
  kgIndex      = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.idx' 
  millsIndels  = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  mutect1Home  = '/sw/apps/bioinfo/mutect/1.1.5/milou'
  snpeffHome   = '/sw/apps/bioinfo/snpEff/4.2/milou'
  snpeffDb     = 'GRCh37.75'
  picardHome   = '/sw/apps/bioinfo/picard/1.118/milou'
  gatkHome     = '/sw/apps/bioinfo/GATK/3.3.0'
  vardictHome  = '/sw/apps/bioinfo/VarDictJava/1.4.5/milou/VarDictJava'
  mutect2Home  = '/sw/apps/bioinfo/GATK/3.6'
  strelkaHome  = '~/Strelka'
  strelkaCFG   = '~/dev/CAW-fork/strelka_config.ini'
  strelkaGENOM = '~/dev/data/human_g1k_v37_decoy.fasta  '
  strelkaINDEX = '~/dev/data/human_g1k_v37_decoy.fasta.fai'
  SNIC_tmp_dir = '${SNIC_TMP?:"/tmp"}'
  intervals    = 'repeats/centromeres.list'
}
