/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/sarek Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {
    // Main options
    no_intervals           = false      // Intervals will be built from the fasta file
    nucleotides_per_second = 200000     // Default interval size
    tools                  = null       // No default Variant_Calling or Annotation tools
    skip_tools             = null       // All tools (markduplicates + baserecalibrator + QC) are used by default
    split_fastq            = 50000000   // FASTQ files will not be split by default by FASTP

    // References
    genome           = 'GATK.GRCh38'
    igenomes_base    = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore  = false
    save_reference   = false // Built references not saved
    build_only_index = false // Only build the reference indexes

    // Modify fastqs (trim/split) with FASTP
    trim_fastq          = false // No trimming
    clip_r1             = 0
    clip_r2             = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0
    trim_nextseq        = 0
    save_trimmed        = false
    save_split_fastqs   = false

    // UMI tagged reads
    umi_read_structure    = null        // no UMI
    group_by_umi_strategy = 'Adjacency' // default strategy when running with UMI for GROUPREADSBYUMI

    // Preprocessing
    aligner            = 'bwa-mem'  // Default is bwa-mem, bwa-mem2 and dragmap can be used too
    use_gatk_spark     = null       // GATK Spark implementation of their tools in local mode not used by default
    save_mapped        = false      // Mapped BAMs not saved
    save_output_as_bam = false      // Output files from preprocessing are saved as bam and not as cram files
    seq_center         = null       // No sequencing center to be written in read group CN field by aligner
    seq_platform       = 'ILLUMINA' // Default platform written in read group PL field by aligner

    // Variant Calling
    ascat_ploidy                      = null  // default value for ASCAT
    ascat_min_base_qual               = 20    // default value for ASCAT
    ascat_min_counts                  = 10    // default value for ASCAT
    ascat_min_map_qual                = 35    // default value for ASCAT
    ascat_purity                      = null  // default value for ASCAT
    cf_ploidy                         = "2"   // default value for Control-FREEC
    cf_coeff                          = 0.05  // default value for Control-FREEC
    cf_contamination                  = 0     // default value for Control-FREEC
    cf_contamination_adjustment       = false // by default we are not using this in Control-FREEC
    cf_mincov                         = 0     // ControlFreec default values
    cf_minqual                        = 0     // ControlFreec default values
    cf_window                         = null  // by default we are not using this in Control-FREEC
    cnvkit_reference                  = null  // by default the reference is build from the fasta file
    concatenate_vcfs                  = false // by default we don't concatenate the germline-vcf-files
    ignore_soft_clipped_bases         = false // no --dont-use-soft-clipped-bases for GATK Mutect2
    joint_germline                    = false // g.vcf & joint germline calling are not run by default if HaplotypeCaller is selected
    joint_mutect2                     = false // if true, enables patient-wise multi-sample somatic variant calling
    only_paired_variant_calling       = false // if true, skips germline variant calling for normal-paired sample
    sentieon_dnascope_emit_mode       = 'variant' // default value for Sentieon dnascope
    sentieon_dnascope_pcr_indel_model = 'CONSERVATIVE'
    sentieon_haplotyper_emit_mode     = 'variant' // default value for Sentieon haplotyper
    wes                               = false // Set to true, if data is exome/targeted sequencing data. Used to use correct models in various variant callers
}
