/* -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the config folder and imported under a profile
 * name here.
 */

profiles {
  
  standard {
    includeConfig 'config/milou.config'
  }

} 