/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/variantannotation Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // References
    genome                       = null
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    snpeff_cache                 = 's3://annotation-cache/snpeff_cache/'
    vep_cache                    = 's3://annotation-cache/vep_cache/'
    igenomes_ignore              = false
    download_cache               = false // Do not download annotation cache

    // Annotation
    bcftools_annotations         = null  // No extra annotation file
    bcftools_annotations_tbi     = null  // No extra annotation file index
    bcftools_header_lines        = null  // No header lines to be added to the VCF file
    dbnsfp                       = null // No dbnsfp processed file
    dbnsfp_consequence           = null // No default consequence for dbnsfp plugin
    dbnsfp_fields                = "rs_dbSNP,HGVSc_VEP,HGVSp_VEP,1000Gp3_EAS_AF,1000Gp3_AMR_AF,LRT_score,GERP++_RS,gnomAD_exomes_AF" // Default fields for dbnsfp plugin
    dbnsfp_tbi                   = null // No dbnsfp processed file index
    outdir_cache                 = null // No default outdir cache
    spliceai_indel               = null // No spliceai_indel file
    spliceai_indel_tbi           = null // No spliceai_indel file index
    spliceai_snv                 = null // No spliceai_snv file
    spliceai_snv_tbi             = null // No spliceai_snv file index
    vep_custom_args              = "--everything --filter_common --per_gene --total_length --offline --format vcf" // Default arguments for VEP
    vep_dbnsfp                   = null // dbnsfp plugin disabled within VEP
    vep_include_fasta            = false // Don't use fasta file for annotation with VEP
    vep_loftee                   = null // loftee plugin disabled within VEP
    vep_out_format               = "vcf"
    vep_spliceai                 = null // spliceai plugin disabled within VEP
    vep_spliceregion             = null // spliceregion plugin disabled within VEP
    vep_version                  = "111.0-0" // Should be updated when we update VEP, needs this to get full path to some plugins
}
