/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the config folder and imported under a profile
 * name here.
 */

manifest {
    homePage = 'http://github.com/SciLifeLab/CAW'
    description = 'New Cancer Analysis Workflow from SciLifeLab'
}

params {
  help = ''
  version = ''
  verbose = ''
  project = ''
  sample = ''
  test = ''
  testRealign = ''
  testCoreVC = ''
  testSideVC = ''
  steps = 'preprocessing'
}

profiles {
  standard {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/milou.config'
    includeConfig 'configuration/milou-slurm.config'
  }
  interactive {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/milou.config'
    includeConfig 'configuration/milou-local.config'
  }
  localhost {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/localhost.config'
  }
  docker {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/docker.config'
    includeConfig 'configuration/docker-maxime.config'
  }
}
