/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the config folder and imported under a profile
 * name here.
 */

manifest {
    homePage = 'http://github.com/SciLifeLab/CAW'
    description = 'New Cancer Analysis Workflow from SciLifeLab'
}

profiles {
  standard {
    includeConfig 'config/standard.config'
    includeConfig 'config/milou.config'
  }
} 