/* -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou)
 *  and for test data
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

params {
	nextflowDir		= '~/dev/CAW/work'
	genome			= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta'
	genomeidx		= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta.fai'
	cosmic			= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf'
	cosmicidx		= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v54_120711.vcf.idx'
	dbsnp			= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf'
	dbsnpidx		= '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf.idx'
	mutect1_home	= '/sw/apps/bioinfo/mutect/1.1.5/milou'
}