docker.runOptions = '--platform=linux/amd64 -e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/shadow:/etc/shadow:ro -v /etc/group:/etc/group:ro -v $HOME:$HOME'
process {
    withName: GATK4_COLLECTREADCOUNTS {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }
    withName: GATK4_CREATEREADCOUNTPANELOFNORMALS {
        ext.args = "--minimum-interval-median-percentile 1.0 --number-of-eigensamples 2"
    }
}
