process {

     withName:'NFCORE_SAREK:SAREK:PAIR_VARIANT_CALLING:RUN_CONTROLFREEC:FREEC'{
        ext.args = { [
                    "sample":[
                        inputformat: 'pileup',
                        mateorientation: 'FR'
                    ],
                    "general" :[
                        bedgraphoutput: "TRUE",
                        noisydata: "TRUE",
                        minexpectedgc: "0",
                        readcountthreshold: "1",
                        sex: meta.gender,
                        window: "10",
                        ],
                    "control":[
                        inputformat: "pileup",
                        mateorientation: "FR"
                    ]
                ]
        }
    }

}
