/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Specify any additional parameters here
// Or any resources requirements

// Should resolve issue with accessing s3 from the runners
aws.client.anonymous = true

// Should take care of all basepath
params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.igenomes_base              = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data'
