process {
    withName: "DEEPVARIANT_CALLVARIANTS" {
        ext.args = '--checkpoint "/opt/models/wgs"'
        cpus = 2 // Keep CPUs fixed so the number of output files is reproducible
    }
}
process {
    withName: "DEEPVARIANT_MAKEEXAMPLES" {
        ext.args = '--channels "insert_size"'
    }
}
