// Minimal config file for tests

process {
    withName: 'POST_VARIANTCALLING:VCF_VARLOCIRAPTOR_GERMLINE:SORT_CALLED_CHUNKS' {
        ext.args   = { '--output-type z --write-index=tbi' }
    }

    withName: 'POST_VARIANTCALLING:VCF_VARLOCIRAPTOR_TUMOR_ONLY:SORT_CALLED_CHUNKS' {
        ext.args   = { '--output-type z --write-index=tbi' }
    }

    withName: 'POST_VARIANTCALLING:VCF_VARLOCIRAPTOR_SOMATIC:SORT_CALLED_CHUNKS' {
        ext.args   = { '--output-type z --write-index=tbi' }
    }
}
