docker.runOptions = '--platform=linux/amd64 -e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/shadow:/etc/shadow:ro -v /etc/group:/etc/group:ro -v $HOME:$HOME'
process {
    withName: GATK4_COLLECTREADCOUNTS {
        ext.args = params.gatk4_collectreadcounts_args
    }
    withName: GATK4_CREATEREADCOUNTPANELOFNORMALS {
        ext.args = params.gatk4_createreadcountpanelofnormals_args
    }
}
