/*
 * -------------------------------------------------
 *  Nextflow config file for Sarek
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using paths from s3
 * To be use with AWS Batch
 */

params {
  genome_base = params.genome == 'GRCh37' ? "s3://sarek-references/Homo_sapiens/GATK/GRCh37" : params.genome == 'iGRCh38' ? "s3://sarek-references/Homo_sapiens/GATK/GRCh38" : "s3://sarek-references/small"
  publishDirMode = 'copy'
  singleCPUMem  = 7.GB // To make the uppmax slurm copy paste work.
}

executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'

process {
  executor = 'awsbatch'
  queue = 'Sarek-queue'

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 2
  cpus = 2
  memory = 7.GB

  withName:BuildBWAindexes {
  }
  withName:BuildReferenceIndex {
  }
  withName:BuildSAMToolsIndex {
  }
  withName:BuildVCFIndex {
  }
  withName:ConcatVCF {
  }
  withName:CreateRecalibrationTable {
    cpus = 10
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  withName:MapReads {
    cpus = 32
    memory = 16.GB
  }
  withName:MarkDuplicates {
		// Actually the -Xmx value should be kept lower
    cpus = 16
    memory = {2 * params.singleCPUMem}
  }
  withName:MergeBams {
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RecalibrateBam {
    cpus = 8
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  withName:RunAlleleCount {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunAscat {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunBamQC {
  }
  withName:RunBcftoolsStats {
    cpus = 1
  }
  withName:RunConvertAlleleCounts {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunFastQC {
    cpus = 2 // FastQC is only capable of running one thread per fastq file.
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withName:RunFreeBayes {
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunHaplotypecaller {
    cpus = 1
    // Increase memory quadratically
    memory = {params.singleCPUMem * task.attempt * task.attempt}
  }
  withName:RunGenotypeGVCFs {
    cpus = 1
    memory = {params.singleCPUMem}
  }
  withName:RunManta {
  }
  withName:RunMultiQC {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withName:RunMutect2 {
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunSamtoolsStats {
    cpus = 1
  }
  withName:RunSingleManta {
  }
  withName:RunSingleStrelka {
  }
  withName:RunSnpeff {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withName:RunStrelka {
  }
  withName:RunVEP {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}
}
