/*
 * -------------------------------------------------
 *  Nextflow config file for Sarek
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using paths from s3
 * To be use with AWS Batch
 */

params {
  genome_base = params.genome == 'iGRCh37' ? "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'iGRCh38' ? "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "s3://sarek-references/small"
  publishDirMode = 'copy'
}

executor {
  name = 'awsbatch'
  awscli = '/home/ec2-user/miniconda/bin/aws'
}

process {
  queue = params.awsqueue

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 4 
  cpus = 2
  memory = 8.GB

  // Process specific cpu and memory configuration

  withName:RunFastQC {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  withName:MapReads {
    memory = 32.GB
  }

  withName:MergeBams {
  }

  withName:MarkDuplicates {
    memory = 16.GB
  }

  withName:CreateRecalibrationTable {
    cpus = 1
    memory = 32.GB
  }

  withName:RecalibrateBam {
    cpus = 1
    memory = 32.GB
  }

  withName:RunSamtoolsStats {
    memory = 1.GB
  }

  withName:RunBamQCmapped {
    cpus = 4
    memory = 32.GB
  }

  withName:RunBamQCrecalibrated {
    cpus = 4
    memory = 32.GB
  }

}

