/*
 * -------------------------------------------------
 *  Nextflow config file for Sarek
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using paths from s3
 * To be use with AWS Batch
 */

params {
  genome_base = params.genome == 'GRCh37' ? "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "s3://sarek-references/small"
  publishDirMode = 'copy'
}

executor {
  name = 'awsbatch'
  awscli = '/home/ec2-user/miniconda/bin/aws'
}

process {
  queue = params.awsqueue

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 4
  cpus = 2
  memory = 8.GB

}
