params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
}
aws.region = params.awsregion
process.executor = 'awsbatch'
process.queue = params.awsqueue
params.tracedir = './'
// We're having DockerTimeout error so params below are specifically to handle it
// You don't have to add these unless you're facing the same problem
aws.client.maxConnections = 4
aws.client.connectionTimeout = 10000
aws.batch.maxParallelTransfers = 8
aws.batch.maxTransferAttempts = 1000
