/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC at QBIC
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 * Sets genome_base to local igenomes directory
 */

/*
*To be improved by process specific configuration asap, once our CFC cluster has the extra options removed - till then, task.attempt in NextFlow is not supported there.
*/

process {
  beforeScript = 'module load qbic/singularity_slurm/3.0.3'
  executor = 'slurm'
}

params {
  publishDirMode = 'symlink'
  max_memory = 60.GB
  max_cpus = 20
  max_time = 140.h
  genome_base = params.genome == 'GRCh37' ? '/nfsmounts/igenomes/Homo_sapiens/GATK/GRCh37' : params.genome == 'GRCh38' ? '/nfsmounts/igenomes/Homo_sapiens/GATK/GRCh38' : 'References/smallGRCh37'
}
