/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Conda environments for every process
 * All environment need to be set up
 * -------------------------------------------------
 */

process.conda = 'environment.yml'
