/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

process {
  container = "${params.repository}/sarek:${params.tag}"
  withName:RunSnpeff {
    container = {(params.snpEff_cache && params.annotation_cache) ? "${params.repository}/sarek:${params.tag}" : params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  }
  withName:RunVEP {
    container = {(params.vep_cache && params.annotation_cache) ? "${params.repository}/sarek:${params.tag}" : params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
  }
}
