/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Docker images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

docker {
  enabled = true
  fixOwnership = true
  runOptions = "-u \$(id -u):\$(id -g)"
}
