/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

 params {
   genomes {
     'GRCh37' {
       acLoci           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci"
       acLociGC         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
       bwaIndex         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
       dbsnp            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf"
       dbsnpIndex       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx"
       genomeDict       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict"
       genomeFile       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
       genomeIndex      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai"
       intervals        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/intervals/wgs_calling_regions_CAW.list"
       knownIndels      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
       knownIndelsIndex = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
       snpeffDb         = "GRCh37.75"
       vepCacheVersion  = "95"
     }
     'GRCh38' {
       acLoci           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
       acLociGC         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
       bwaIndex         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
       dbsnp            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
       dbsnpIndex       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
       genomeDict       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
       genomeFile       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
       genomeIndex      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
       intervals        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/intervals/wgs_calling_regions.hg38.bed"
       knownIndels      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
       knownIndelsIndex = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
       snpeffDb         = "GRCh38.86"
       vepCacheVersion  = "95"
     }
     'smallGRCh37' {
       acLoci           = "${params.igenomes_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci"
       acLociGC         = "${params.igenomes_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci.gc"
       bwaIndex         = "${params.igenomes_base}/human_g1k_v37_decoy.small.fasta.{amb,ann,bwt,pac,sa}"
       dbsnp            = "${params.igenomes_base}/dbsnp_138.b37.small.vcf"
       dbsnpIndex       = "${params.igenomes_base}/dbsnp_138.b37.small.vcf.idx"
       genomeDict       = "${params.igenomes_base}/human_g1k_v37_decoy.small.dict"
       genomeFile       = "${params.igenomes_base}/human_g1k_v37_decoy.small.fasta"
       genomeIndex      = "${params.igenomes_base}/human_g1k_v37_decoy.small.fasta.fai"
       intervals        = "${params.igenomes_base}/small.intervals"
       knownIndels      = "${params.igenomes_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf"
       knownIndelsIndex = "${params.igenomes_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf.idx"
       snpeffDb         = "GRCh37.75"
       vepCacheVersion  = "95"
     }
   }
 }
