/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Path to iGenomes reference files
 * -------------------------------------------------
 * Imported under Nextflow profiles in
 * nextflow.config
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genome_base / --genome_base
 * -------------------------------------------------
 */

params {
  genomes {
    'GRCh37' {
      acLoci           = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci"
      acLociGC         = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      bwaIndex         = "${params.genome_base}/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
      dbsnp            = "${params.genome_base}/Annotation/GATKBundle/dbsnp_138.b37.vcf"
      dbsnpIndex       = "${params.genome_base}/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx"
      genomeDict       = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict"
      genomeFile       = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
      genomeIndex      = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai"
      intervals        = "${params.genome_base}/Annotation/intervals/wgs_calling_regions_CAW.list"
      knownIndels      = "${params.genome_base}/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
      knownIndelsIndex = "${params.genome_base}/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
      snpeffDb         = "GRCh37.75"
      vepCacheVersion  = "95"
    }
    'GRCh38' {
      acLoci           = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
      acLociGC         = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwaIndex         = "${params.genome_base}/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
      dbsnp            = "${params.genome_base}/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex       = "${params.genome_base}/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      genomeDict       = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
      genomeFile       = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
      genomeIndex      = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
      intervals        = "${params.genome_base}/Annotation/intervals/wgs_calling_regions.hg38.bed"
      knownIndels      = "${params.genome_base}/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex = "${params.genome_base}/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpeffDb         = "GRCh38.86"
      vepCacheVersion  = "95"
    }
    'smallGRCh37' {
      acLoci           = "${params.genome_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci"
      acLociGC         = "${params.genome_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci.gc"
      bwaIndex         = "${params.genome_base}/human_g1k_v37_decoy.small.fasta.{amb,ann,bwt,pac,sa}"
      dbsnp            = "${params.genome_base}/dbsnp_138.b37.small.vcf"
      dbsnpIndex       = "${params.genome_base}/dbsnp_138.b37.small.vcf.idx"
      genomeDict       = "${params.genome_base}/human_g1k_v37_decoy.small.dict"
      genomeFile       = "${params.genome_base}/human_g1k_v37_decoy.small.fasta"
      genomeIndex      = "${params.genome_base}/human_g1k_v37_decoy.small.fasta.fai"
      intervals        = "${params.genome_base}/small.intervals"
      knownIndels      = "${params.genome_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf"
      knownIndelsIndex = "${params.genome_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf.idx"
      snpeffDb         = "GRCh37.75"
      vepCacheVersion  = "95"
    }
  }
}
