/*
* -------------------------------------------------
* Iris config
* -------------------------------------------------
* Pipeline parameters specific to running with slurm on the IRIS cluster at MSKCC
* -------------------------------------------------
*/
profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'componc_cpu,componc_gpu'
    }
}
