/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */

params {
    modules {
        'fastqc' {
            args             = "--quiet"
            suffix           = ""
            publish_dir      = "fastqc"
            publish_results  = "all"
        }
        'trimgalore' {
            args             = "--fastqc"
            suffix           = ""
            publish_dir      = "trimgalore"
            publish_results  = "all"
        }
        'bwamem2_index' {
            args             = ""
            suffix           = ""
            publish_dir      = "genome/bwa_index"
            publish_results  = "all"
        }
        'bwamem2_mem' {
            args             = "-K 100000000 -M"
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_dir      = ""
            publish_results  = "all"
        }
        'gatk_markduplicates' {
            args             = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix           = ".mLb.mkD"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'get_software_versions' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'output_documentation' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
    }
}
