/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */

params {
    modules {
        'bwa_index' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "reference/bwa"
            publish_results  = "all"
        }
        'bwa_mem' {
            args             = "-K 100000000 -M"
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = ""
            publish_results  = "none"
        }
        'bwamem2_index' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "reference/bwamem2"
            publish_results  = "all"
        }
        'bwamem2_mem' {
            args             = "-K 100000000 -M"
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = ""
            publish_results  = "none"
        }
        'concat_vcf_haplotypecaller' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "haplotypecaller"
            publish_results  = "all"
        }
        'concat_vcf_haplotypecallergvcf' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ".g"
            publish_by_id    = "false"
            publish_dir      = "haplotypecallergvcf"
            publish_results  = "all"
        }
        'fastqc' {
            args             = "--quiet"
            args             = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "Reports/FastQC"
            publish_results  = "all"
        }
        'gatk_createsequencedictionary' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "reference"
            publish_results  = "all"
        }
        'gatk_markduplicates' {
            args             = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            args2            = ""
            extra            = ""
            suffix           = ".md"
            publish_by_id    = "false"
            publish_dir      = ""
            publish_results  = "all"
        }
        'get_software_versions' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'merge_bam_mapping' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = ""
            publish_results  = "none"
        }
        'merge_bam_recalibrate' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = "md"
            publish_by_id    = "false"
            publish_dir      = ""
            publish_results  = "none"
        }
        'samtools_faidx' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "reference"
            publish_results  = "none"            
        }
        'samtools_index_mapping' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = ""
            publish_dir_up   = "preprocessing"
            publish_dir_down = "mapped"
            publish_results  = "none"
        }
        'samtools_index_recalibrate' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = "md"
            publish_by_id    = "false"
            publish_dir      = ""
            publish_dir_up   = "preprocessing"
            publish_dir_down = "recalibrated"
            publish_results  = "all"
        }
        'strelka_germline' {
            args             = ""
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "strelka"
            publish_results  = "all"
        }
        'trimgalore' {
            args             = "--fastqc"
            args2            = ""
            extra            = ""
            suffix           = ""
            publish_by_id    = "false"
            publish_dir      = "trimgalore"
            publish_results  = "all"
        }
    }
}
