/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Configuration for running on munin
 * -------------------------------------------------
 */

env {
  NXF_WORK="/scratch"
}

params {
  containerPath = '/data0/btb/containers/'
  snpEff_cache  = '/data0/btb/cache/snpEff'
  vep_cache     = '/data0/btb/cache/VEP'
  genome_base   = params.genome == 'GRCh37' ? '/data0/btb/references/igenomes/Homo_sapiens/GATK/GRCh37/' : params.genome == 'GRCh38' ? '/data0/btb/references/igenomes/Homo_sapiens/GATK/GRCh38/' : 'References/smallGRCh37'
  singleCPUMem  = 15.GB
  totalMemory   = 754.GB
}

executor.$local.cpus = 48

process {
  // Default process resources

  // A process may use one core,
  cpus = 1

  // 15 GB of memory,
  memory = {params.singleCPUMem}

  // and 48 of them are allowed to be launched simultaneously.
  maxForks = 48

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  // These processes are defined in buildReferences.nf

  withName:BuildBWAindexes {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  withName:BuildReferenceIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  withName:BuildSAMToolsIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  withName:BuildVCFIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }

  // These processes are defined in main.nf

  withName:ConcatVCF {
    cpus = 8
  }
  withName:CreateRecalibrationTable {
    cpus = 16
    memory = {params.totalMemory}
  }
  withName:MapReads {
    cpus = 48
    memory = {params.totalMemory}
  }
  withName:MarkDuplicates {
		// Actually the -Xmx value should be kept lower
    cpus = 16
    memory = {2 * params.singleCPUMem}
  }
  withName:MergeBams {
    cpus = 8
    memory = {params.totalMemory}
  }
  withName:RecalibrateBam {
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunAlleleCount {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunAscat {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunBamQCmapped {
    cpus = 16
    memory = {params.totalMemory}
  }
  withName:RunBamQCrecalibrated {
    cpus = 16
    memory = {params.totalMemory}
  }
  withName:RunBcftoolsStats {
  }
  withName:RunConvertAlleleCounts {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  withName:RunFastQC {
    cpus = 2 // FastQC is only capable of running one thread per fastq file.
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
  }
  withName:RunFreeBayes {
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunHaplotypecaller {
    // Increase memory quadratically
    memory = {params.singleCPUMem * task.attempt * task.attempt}
  }
  withName:RunGenotypeGVCFs {
  }
  withName:RunManta {
    cpus = 48
    memory = {params.totalMemory}
  }
  withName:RunMultiQC {
  }
  withName:RunMutect2 {
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunSamtoolsStats {
  }
  withName:RunSingleManta {
    cpus = 48
    memory = {params.totalMemory}
  }
  withName:RunSingleStrelka {
    cpus = 48
    memory = {params.totalMemory}
  }
  withName:RunSnpeff {
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
    memory = {params.singleCPUMem * task.attempt}
  }
  withName:RunStrelka {
    cpus = 48
    memory = {params.totalMemory}
  }
  withName:RunVEP {
    cpus = 48
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
  }
}
