singularityDir = "/gpfs/commons/home/adoane/.singularity/singularity_images_nextflow/"

trace.fields = 'process,task_id,hash,name,native_id,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'

params {
    config_profile_description = """
                                 New York Genome Center Univa cluster profile provided by nf-core/configs.
                                 Please run the pipeline on a compute node.
                                 """.stripIndent()
    config_profile_contact = 'Ashley S Doane'
    //config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/wcm_panda.md'
  igenomes_base = '/gpfs/commons/groups/imielinski_lab/DB/references/'
}

singularity {
      enabled = true
      cacheDir = singularityDir
      autoMounts = true
}

docker.enabled = false

process {
 // beforeScript = """
 //                   module load singularity
 //                """
 //                .stripIndent()
  cpus = 16
  executor = 'sge'
  penv = 'smp'
  clusterOptions = '-V'
  memory = 90.GB
  //scratch = true
  time = 96.h
  errorStrategy = {task.exitStatus in [140, 143] ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3
}