singularityDir = "/athena/elementolab/scratch/asd2007/.singularity/singularity_images_nextflow"
moduleScript = "/athena/elementolab/scratch/reference/.spackloads.sh"

trace.fields = 'process,task_id,hash,name,native_id,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'

params {
    config_profile_description = """
                                 Weill Cornell Medicine SCU panda cluster profile provided by nf-core/configs.
                                 Please do  not run the pipeline on a login node.
                                 """.stripIndent()
    config_profile_contact = 'Ashley S Doane asd2007@med.cornell.edu'
    //config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/wcm_panda.md'
    genomes_base = '/athena/elementolab/scratch/reference/igenomes/'
}

singularity {
      enabled = true
      cacheDir = singularityDir
      autoMounts = true
}



process {
//  beforeScript = """
//                    source $moduleScript
//                 """
//                 .stripIndent()
  clusterOptions = {"-A $params.project"}
  cpus = 16
  executor = 'slurm'
  memory = 210.GB
  queue = 'panda'
  scratch = true
  time = 48.h

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3
}
