/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry      = 'public.ecr.aws'
podman.registry      = 'public.ecr.aws'
singularity.registry = 'public.ecr.aws'

process {
    withName: 'ADD_INFO_TO_VCF' {
        ext.container_full_uri = true
    }
    withName: 'ASCAT' {
        ext.container_full_uri = true
    }
    withName: 'BUILD_INTERVALS' {
        ext.container_full_uri = true
    }
    withName: 'BWAMEM2_MEM' {
        ext.container_full_uri = true
    }
    withName: 'BWA_MEM' {
        ext.container_full_uri = true
    }
    withName: 'CAT_CAT' {
        ext.container_full_uri = true
    }
    withName: 'CAT_FASTQ' {
        ext.container_full_uri = true
    }
    withName: 'CNVKIT_BATCH' {
        ext.container_full_uri = true
    }
    withName: 'CREATE_INTERVALS_BED' {
        ext.container_full_uri = true
    }
    withName: 'DEEPVARIANT' {
        ext.container_full_uri = true
    }
    withName: 'DRAGMAP_ALIGN' {
        ext.container_full_uri = true
    }
    withName: 'GATK4_APPLYBQSR_SPARK' {
        ext.container_full_uri = true
    }
    withName: 'GATK4_BASERECALIBRATOR_SPARK' {
        ext.container_full_uri = true
    }
    withName: 'GATK4_CNNSCOREVARIANTS' {
        ext.container_full_uri = true
    }
    withName: 'GATK4_MARKDUPLICATES' {
        ext.container_full_uri = true
    }
    withName: 'GATK4_MARKDUPLICATES_SPARK' {
        ext.container_full_uri = true
    }
    withName: 'SAMBLASTER' {
        ext.container_full_uri = true
    }
    withName: 'SVDB_MERGE' {
        ext.container_full_uri = true
    }
    withName: 'UNTAR' {
        ext.container_full_uri = true
    }
    withName: 'UNZIP' {
        ext.container_full_uri = true
    }
}
