/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: 'ADD_INFO_TO_VCF' {
        container = 'quay.io/biocontainers/gawk:5.1.0'
    }
    withName: 'ASCAT' {
        container = 'quay.io/biocontainers/mulled-v2-c278c7398beb73294d78639a864352abef2931ce:ba3e6d2157eac2d38d22e62ec87675e12adb1010-0'
    }
    withName: 'BUILD_INTERVALS' {
        container = 'quay.io/biocontainers/gawk:5.1.0'
    }
    withName: 'BWAMEM2_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0'
    }
    withName: 'BWA_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
    }
    withName: 'CAT_CAT' {
        container = 'quay.io/biocontainers/pigz:2.3.4'
    }
    withName: 'CAT_FASTQ' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'CNVKIT_BATCH' {
        container = 'quay.io/biocontainers/mulled-v2-780d630a9bb6a0ff2e7b6f730906fd703e40e98f:3bdd798e4b9aed6d3e1aaa1596c913a3eeb865cb-0'
    }
    withName: 'CREATE_INTERVALS_BED' {
        container = 'quay.io/biocontainers/gawk:5.1.0'
    }
    withName: 'DEEPVARIANT' {
        container = 'quay.io/nf-core/deepvariant:1.5.0'
    }
    withName: 'DRAGMAP_ALIGN' {
        container = 'quay.io/biocontainers/mulled-v2-580d344d9d4a496cd403932da8765f9e0187774d:5ebebbc128cd624282eaa37d2c7fe01505a91a69-0'
    }
    withName: 'GATK4_APPLYBQSR_SPARK' {
        container = 'quay.io/nf-core/gatk:4.4.0.0'
    }
    withName: 'GATK4_BASERECALIBRATOR_SPARK' {
        container = 'quay.io/nf-core/gatk:4.4.0.0'
    }
    withName: 'GATK4_CNNSCOREVARIANTS' {
        container = 'quay.io/nf-core/gatk:4.4.0.0'
    }
    withName: 'GATK4_MARKDUPLICATES_SPARK' {
        container = 'quay.io/nf-core/gatk:4.4.0.0'
    }
    withName: 'SAMBLASTER' {
        container = 'quay.io/biocontainers/mulled-v2-19fa9f1a5c3966b63a24166365e81da35738c5ab:cee56b506ceb753d4bbef7e05b81e1bfc25d937f-0'
    }
    withName: 'SVDB_MERGE' {
        container = 'quay.io/biocontainers/mulled-v2-c8daa8f9d69d3c5a1a4ff08283a166c18edb0000:af6f8534cd538a85ff43a2eae1b52b143e7abd05-0'
    }
    withName: 'UNTAR' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'UNZIP' {
        container = 'quay.io/biocontainers/p7zip:16.02'
    }
}
