/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  container = "${params.containerPath}/sarek-${params.tag}.simg"
  withName:RunSnpeff {
    container = {(params.snpEff_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.simg" : "${params.containerPath}/snpeffgrch37-${params.tag}.simg"}
  }
  withName:RunVEP {
    container = {(params.vep_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.simg" : "${params.containerPath}/vepgrch37-${params.tag}.simg"}
  }
}
