/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  withName:BuildBWAindexes {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:BuildCache_snpEff {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:BuildCache_VEP {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:BuildReferenceIndex {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:BuildSAMToolsIndex {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:BuildVCFIndex {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:CompressVCF {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:ConcatVCF {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:CreateIntervalBeds {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:CreateRecalibrationTable {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:GetVersionAll {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:GetVersionAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.simg"
  }
  withName:GetVersionASCAT {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
  }
  withName:MapReads {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:MarkDuplicates {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:MergeBams {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RecalibrateBam {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.simg"
  }
  withName:RunAscat {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
  }
  withName:RunBamQCmapped {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunBamQCrecalibrated {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunBcftoolsStats {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunConvertAlleleCounts {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
  }
  withName:RunFastQC {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunFreeBayes {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunGenotypeGVCFs {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunHaplotypecaller {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunManta {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunMultiQC {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunMutect2 {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunSamtoolsStats {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunSingleManta {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunSingleStrelka {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunSnpeff {
    container = {(params.snpEff_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.simg" : "${params.containerPath}/snpeffgrch37-${params.tag}.simg"}
  }
  withName:RunStrelka {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunStrelkaBP {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunVcftools {
    container = "${params.containerPath}/sarek-${params.tag}.simg"
  }
  withName:RunVEP {
    container = {(params.vep_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.simg" : "${params.containerPath}/vepgrch37-${params.tag}.simg"}
  }
}
