params {
    genomes {
        'staau' {
            fasta     = '/data/ctc/sarek_ncgr/tests/staau/GCF_000011525.1_ASM1152v1_genomic.fna'
            fasta_fai = '/data/ctc/sarek_ncgr/tests/staau/GCF_000011525.1_ASM1152v1_genomic.fna.fai'
            dict      = '/data/ctc/sarek_ncgr/tests/staau/GCF_000011525.1_ASM1152v1_genomic.dict'
            minimap2  = '/data/ctc/sarek_ncgr/tests/staau/GCF_000011525.1_ASM1152v1_genomic.mmi'
        }
    }
}
