/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test,<extra_test_profile>,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input               = "${projectDir}/tests/csv/3.0/ascat_somatic.csv"
    genome              = 'GATK.GRCh37'
    igenomes_ignore     = false
    ascat_chromosomes   = 'c("21", "22")'
    ascat_loci          = "/mnt/volume/repos/modules/test_ascat2/G1000_loci_hg19.zip"
    ascat_min_base_qual = 30
    chr_dir             = params.test_data['homo_sapiens']['genome']['genome_21_chromosomes_dir']
    germline_resource   = params.test_data['homo_sapiens']['genome']['gnomad_r2_1_1_21_vcf_gz']
    intervals           = params.test_data['homo_sapiens']['genome']['genome_21_multi_interval_bed']
    joint_germline      = true
    step                = 'variant_calling'
    tools               = 'ascat'
    wes                 = false
}
