/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test_trimming
 */

includeConfig 'test.config'

params {
  trim_fastq = true
  clip_r1 = 1
  clip_r2 = 1
  three_prime_clip_r1 = 1
  three_prime_clip_r2 = 1
}