/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test_targeted
 */

includeConfig 'test.config'

params {
  target_bed = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/target.bed'
  tools = 'manta,strelka'
}
