/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test,<docker/singularity>
 */

singularity {
  enabled = true
  // runOptions = "--bind /mnt:/mnt --bind /data:/data"
  autoMounts = true
}

executor {
  // This is set because of an issue with too many
  // singularity containers launching at once, they
  // cause an singularity error with exit code 255.
  submitRateLimit = "2 sec"
}


params {
  config_profile_description = 'Minimal test dataset to check pipeline function'
  config_profile_name = 'Test profile'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 4
  max_memory = 6.GB
  max_time = 48.h

  // Input data

  input = '/mnt/scratch/DMP/EVGENMOD/cjames/nextflow_pipelines/test-datasets/testdata/tsv/test-bams.tsv'

  // Small reference genome
  //igenomes_ignore = true
  genome = 'GRCh38'
  igenomes_base = "/mnt/scratch/DMP/EVGENMOD/cjames/nextflow_pipelines/test_reference/igenomes"
}

process {
  withName:Snpeff {
    container = 'nfcore/sareksnpeff:dev.GRCh37'
    maxForks = 1
  }
  withLabel:VEP {
    container = 'nfcore/sarekvep:dev.GRCh37'
    maxForks = 1
  }
}
