/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test,<extra_test_profile>,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

try {
    includeConfig "https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/modules test data config")
}

params.input                  = "${baseDir}/tests/csv/3.0/ascat_somatic.csv"
params.genome                 = 'GATK.GRCh37'
params.igenomes_ignore        = false
params.ascat_chromosomes      = 'c("21", "22")'
params.ascat_loci             = "/mnt/volume/repos/modules/test_ascat2/G1000_loci_hg19.zip"
params.ascat_min_base_qual    = 30
params.chr_dir                = params.test_data['homo_sapiens']['genome']['genome_21_chromosomes_dir']
params.germline_resource      = params.test_data['homo_sapiens']['genome']['gnomad_r2_1_1_21_vcf_gz']
params.intervals              = params.test_data['homo_sapiens']['genome']['genome_21_multi_interval_bed']
params.joint_germline         = true
params.step                   = 'variant_calling'
params.tools                  = 'ascat'
params.wes                    = false
