/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test,<extra_test_profile>,<docker/singularity>
 */

params {
  config_profile_description = 'Minimal test dataset to check pipeline function'
  config_profile_name = 'Test profile'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-manta-normal-https.csv'

  // Small reference genome
  igenomes_ignore   = true
  genome            = 'smallGRCh37'
  genomes_base      = "https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference"
  snpeff_db         = 'WBcel235.99'
  vep_species       = 'caenorhabditis_elegans'
  vep_cache_version = '104'

  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input,modules'
}

profiles {
  annotation {
    params.genome              = 'WBcel235'
    params.igenomes_ignore     = false
    params.input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-vcf-https.csv'
    params.step                = 'annotate'
  }
  pair {
    params.input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-manta-https.csv'
  }
  save_bam_mapped {
    params.save_bam_mapped     = true
  }
  split_fastq {
    params.split_fastq         = 500
  }
  targeted {
    params.target_bed          = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/target.bed'
    params.tools               = 'manta,strelka'
  }
  tool {
    params.input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-recal-normal-https.csv'
    params.step                = 'variant_calling'
  }
  tool_pair {
    params.input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-recal-pair-https.csv'
    params.step                = 'variant_calling'
    }
  trimming {
    params.clip_r1             = 1
    params.clip_r2             = 1
    params.three_prime_clip_r1 = 1
    params.three_prime_clip_r2 = 1
    params.trim_fastq          = true
  }
  use_gatk_spark {
    params.use_gatk_spark      = true
  }
  umi_quiaseq {
    params.genome              = 'smallGRCh38'
    params.genomes_base        = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/chr20_hg38'
    params.input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-umi-qiaseq-https.csv'
    params.read_structure1     = "12M11S+T"
    params.read_structure2     = "12M11S+T"
    params.umi                 = true
  }
  umi_tso {
    genome                     = 'smallGRCh38'
    genomes_base               = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/chr20_hg38'
    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny-umi-tso-https.csv'
    read_structure1            = "7M1S+T"
    read_structure2            = "7M1S+T"
    umi                        = true
  }
}

process {
  withName:SNPEFF {
    maxForks = 1
  }
  withName:VEP {
    maxForks = 1
  }
}
