/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/HCC1395_WXS_somatic_full_test.csv'

    // Other params
    tools       = 'ascat,cnvkit,controlfreec,freebayes,lofreq,manta,msisensor2,muse,mutect2,ngscheckmate,strelka,tiddit,snpeff,vep'
    split_fastq = 20000000
    intervals   = 's3://ngi-igenomes/test-data/sarek/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed'
    wes         = true
}

process {
    // BWA options for parabricks
    withName: 'PARABRICKS_FQ2BAM' {
        ext.args = { meta.status == 1 ? '--bwa-options="-K 100000000 -Y -B 3"' : '--bwa-options="-K 100000000 -Y"' }
    }

    // Request a GPU for every parabricks process
    // NOTE https://docs.nvidia.com/clara/parabricks/latest/gettingstarted.html#hardware-requirements
    withName: 'PARABRICKS_.*' {
        accelerator    = 4
        // NOTE Borrowed from https://github.com/clara-parabricks-workflows/parabricks-nextflow/blob/dce38f46e46e8595223e4bcaee2eca6fe94865e6/conf/genome.config#L15C1-L31C6
        cpus           = { 48 * task.attempt }
        memory         = { task.attempt > 1 ? '370.GB' : '186.GB' }
        // NOTE This thing is supposed to be fast right?
        time           = { 1.h * task.attempt }
        resourceLimits = [cpus: 96, memory: 370.GB]
        maxRetries = 3
        errorStrategy = { task.exitStatus in [1,2,143,137,104,134,139,255] ? 'retry' : 'finish' }
    }
}

fusion {
    containerConfigUrl = 'https://fusionfs.seqera.io/releases/v2.5.1-amd64.json'
}
