/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test_full_germline_ncbench_agilent,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for germline VC'
    config_profile_description = 'Agilent test datasets to benchmark germline VC pipeline function using the NCBench framework'

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/NA12878_Agilent_full_test.csv'

    // Other params
    tools       = 'strelka,freebayes,haplotypecaller,deepvariant,manta,vep,snpeff'
    intervals   = 's3://ngi-igenomes/test-data/sarek/Agilent_v7.bed'
    wes         = true
    trim_fastq  = true
}
