/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test,<extra_test_profile>,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

try {
    includeConfig "https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/modules test data config")
}

params.input                  = "${projectDir}/tests/csv/3.0/recalibrated_tumoronly.csv"
params.dbsnp                  = params.test_data['homo_sapiens']['genome']['dbsnp_138_hg38_21_vcf_gz']
params.fasta                  = params.test_data['homo_sapiens']['genome']['genome_21_fasta']
params.germline_resource      = params.test_data['homo_sapiens']['genome']['gnomad_r2_1_1_21_vcf_gz']
params.intervals              = params.test_data['homo_sapiens']['genome']['genome_21_multi_interval_bed']
params.pon                    = params.test_data['homo_sapiens']['genome']['mills_and_1000g_indels_21_vcf_gz']
params.nucleotides_per_second = 20
params.step                   = 'variant_calling'
params.tools                  = null
params.wes                    = true
