/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test_umi_tso
 */

includeConfig 'test.config'

params {
  genome = 'smallGRCh38'
  genomes_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/chr20_hg38'
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/tsv/tiny-umi-tso-https.tsv'
  umi = true
  read_structure1 = "7M1S+T"
  read_structure2 = "7M1S+T"
}