/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sarek -profile test_split_fastq
 */

includeConfig 'test.config'

params {
  split_fastq = 500
}
