env {
    // NOTE This is how nf-core/sarek users will use Sentieon in real world use
    SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how nf-core/sarek users will test out Sentieon in Sarek with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)
}

process {
    withName: 'SENTIEON_BWAMEM' {
        ext.args = "-R \"@RG\\tID:sample_lane\\tPU:lane\\tSM:patient_sample\\tLB:sample\\tDS:fasta\\tPL:seqplatform\""
        ext.prefix = { "${meta.id}.cram" }
    }
}
