/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    test_data_base       = '/home/max/workspace/nf-core_sarek/test-datasets'
    schema_ignore_params = 'genomes,test_data,snpeff_version,vep_version,outputDir,baseDir,output-dir,base-dir'
}
