/* -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * Set up with test data
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'slurm'
  cpus = 16
  memory = '128.GB'
  time = '48.h'
  queue = 'node'        // node queue will use the whole node - 16CPUs and 128mem on milou
  clusterOptions = {
    '-A ngi2016004'
  }
}

// By default we are turning on trace and timeline tracking
trace {
	enabled = true
	fields = 'process,task_id,name,attempt,status,exit,realtime,%cpu,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

timeline {
	enabled = true
}

params {
  singleCPUMem  = '32.G'         // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
  runTime       = '48.h'
  sample        = 'data/tsv/tiny.tsv'
  gender        = 'XY'
  genome        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta'
  genomeIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta.fai'
  mantaRef      = '/home/szilva/app/opt/MANTA_human_g1k_v37_decoy.fasta'
  mantaIndex    = '/home/szilva/app/opt/MANTA_human_g1k_v37_decoy.fasta.fai'
  genomeDict    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.dict'
  cosmic41      = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf'
  cosmicIndex41 = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf.idx'
  cosmic        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.vcf'
  cosmicIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.vcf.idx'
  dbsnp         = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf'
  dbsnpIndex    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf.idx'
  kgIndels      = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf'
  kgIndex       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.idx'
  millsIndels   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  mutect1Home   = '/sw/apps/bioinfo/mutect/1.1.5/irma'
  snpeffHome    = '/sw/apps/bioinfo/snpEff/4.2/irma'
  snpeffDb      = 'GRCh37.75'
  picardHome    = '/sw/apps/bioinfo/picard/1.118/irma'
  gatkHome      = '/sw/apps/bioinfo/GATK/3.3.0'
  vardictHome   = '/sw/apps/bioinfo/VarDictJava/1.4.5/irma/VarDictJava'
  mutect2Home   = '/sw/apps/bioinfo/GATK/3.6'
  strelkaHome   = '/sw/apps/bioinfo/strelka/1.0.15/irma'
  strelkaCFG    = '/home/szilva/app/fork/config/strelka_config.ini'
  SNIC_tmp_dir  = '${SNIC_TMP?:"/tmp"}'
  intervals     = 'repeats/centromeres.list'
  acLoci        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase3_20130502_SNP_maf0.3.loci'
}
