/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Define lists of refs, steps and outDir
 */

// By default we are turning on trace and timeline tracking
trace {
  enabled = true
  fields = 'process,task_id,name,attempt,status,exit,realtime,%cpu,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

timeline {
  enabled = true
}