process {

    withName: 'PARABRICKS_FQ2BAM' {
        ext.args = '--low-memory'
    }

    // Ref: https://forums.developer.nvidia.com/t/problem-with-gpu/256825/6
    // Parabricks’s fq2bam requires 24GB of memory.
    // Using --low-memory for testing

    withName: 'PARABRICKS_APPLYBQSR' {
        ext.prefix = { "${meta.id}.recal" }
    }

}
