process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 1'
        ext.prefix = 'test_split'
    }
    withName: BCFTOOLS_MPILEUP1 {
        ext.args2 = '--no-version --ploidy 1 --multiallelic-caller'
        ext.args3 = '--no-version'
    }
    withName: BCFTOOLS_MPILEUP2 {
        ext.args2 = '--no-version --ploidy 1 --multiallelic-caller'
        ext.args3 = '--no-version'
    }

}
