params {
    vep_cache_version   = "112"
    vep_genome          = "WBcel235"
    vep_species         = "caenorhabditis_elegans"
}

process {
    withName: ENSEMBLVEP_DOWNLOAD {
        ext.args    = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        ext.prefix  = { "${params.vep_cache_version}_${params.vep_genome}" }
    }
}
