/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

process {
  $BuildBWAindexes.container          = "${params.repository}/sarek:${params.tag}"
  $BuildReferenceIndex.container         = "${params.repository}/sarek:${params.tag}"
  $BuildSAMToolsIndex.container       = "${params.repository}/sarek:${params.tag}"
  $BuildVCFIndex.container            = "${params.repository}/sarek:${params.tag}"
  $CompressVCF.container              = "${params.repository}/sarek:${params.tag}"
  $ConcatVCF.container                = "${params.repository}/sarek:${params.tag}"
  $CreateRecalibrationTable.container = "${params.repository}/sarek:${params.tag}"
  $GetVersionAll.container            = "${params.repository}/sarek:${params.tag}"
  $GetVersionAlleleCount.container    = "${params.repository}/runallelecount:${params.tag}"
  $GetVersionASCAT.container          = "${params.repository}/r-base:${params.tag}"
  $GetVersionBamQC.container          = "${params.repository}/sarek:${params.tag}"
  $GetVersionBCFtools.container       = "${params.repository}/sarek:${params.tag}"
  $GetVersionBWAsamtools.container    = "${params.repository}/sarek:${params.tag}"
  $GetVersionFastQC.container         = "${params.repository}/sarek:${params.tag}"
  $GetVersionFreeBayes.container      = "${params.repository}/sarek:${params.tag}"
  $GetVersionGATK.container           = "${params.repository}/sarek:${params.tag}"
  $GetVersionManta.container          = "${params.repository}/sarek:${params.tag}"
  $GetVersionSnpeff.container = {params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  $GetVersionStrelka.container        = "${params.repository}/sarek:${params.tag}"
  $GetVersionVCFtools.container       = "${params.repository}/sarek:${params.tag}"
  $GetVersionVEP.container = {params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
  $MapReads.container                 = "${params.repository}/sarek:${params.tag}"
  $MarkDuplicates.container           = "${params.repository}/sarek:${params.tag}"
  $MergeBams.container                = "${params.repository}/sarek:${params.tag}"
  $RecalibrateBam.container           = "${params.repository}/sarek:${params.tag}"
  $RunAlleleCount.container           = "${params.repository}/runallelecount:${params.tag}"
  $RunAscat.container                 = "${params.repository}/r-base:${params.tag}"
  $RunBamQC.container                 = "${params.repository}/sarek:${params.tag}"
  $RunBcftoolsStats.container         = "${params.repository}/sarek:${params.tag}"
  $RunConvertAlleleCounts.container   = "${params.repository}/r-base:${params.tag}"
  $RunFastQC.container                = "${params.repository}/sarek:${params.tag}"
  $RunFreeBayes.container             = "${params.repository}/sarek:${params.tag}"
  $RunGenotypeGVCFs.container         = "${params.repository}/sarek:${params.tag}"
  $RunHaplotypecaller.container       = "${params.repository}/sarek:${params.tag}"
  $RunManta.container                 = "${params.repository}/sarek:${params.tag}"
  $RunMultiQC.container               = "${params.repository}/sarek:${params.tag}"
  $RunMutect2.container               = "${params.repository}/sarek:${params.tag}"
  $RunSamtoolsStats.container         = "${params.repository}/sarek:${params.tag}"
  $RunSingleManta.container           = "${params.repository}/sarek:${params.tag}"
  $RunSingleStrelka.container         = "${params.repository}/sarek:${params.tag}"
  $RunSnpeff.container = {params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  $RunStrelka.container               = "${params.repository}/sarek:${params.tag}"
  $RunStrelkaBP.container             = "${params.repository}/sarek:${params.tag}"
  $RunVcftools.container              = "${params.repository}/sarek:${params.tag}"
  $RunVEP.container = {params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
}
