/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

process {
  $BuildBWAindexes.container          = "${params.repository}/sarek:${params.tag}"
  $BuildPicardIndex.container         = "${params.repository}/picard:${params.tag}"
  $BuildSAMToolsIndex.container       = "${params.repository}/sarek:${params.tag}"
  $BuildVCFIndex.container            = "${params.repository}/igvtools:${params.tag}"
  $ConcatVCF.container                = "${params.repository}/sarek:${params.tag}"
  $CreateRecalibrationTable.container = "${params.repository}/gatk:${params.tag}"
  $IndelRealigner.container           = "${params.repository}/gatk:${params.tag}"
  $MapReads.container                 = "${params.repository}/sarek:${params.tag}"
  $MarkDuplicates.container           = "${params.repository}/picard:${params.tag}"
  $MergeBams.container                = "${params.repository}/sarek:${params.tag}"
  $RealignerTargetCreator.container   = "${params.repository}/gatk:${params.tag}"
  $RecalibrateBam.container           = "${params.repository}/gatk:${params.tag}"
  $RunAlleleCount.container           = "${params.repository}/runallelecount:${params.tag}"
  $RunAscat.container                 = "${params.repository}/r-base:${params.tag}"
  $RunBamQC.container                 = "${params.repository}/qualimap:${params.tag}"
  $RunBcftoolsStats.container         = "${params.repository}/sarek:${params.tag}"
  $RunConvertAlleleCounts.container   = "${params.repository}/r-base:${params.tag}"
  $RunFastQC.container                = "${params.repository}/fastqc:${params.tag}"
  $RunFreeBayes.container             = "${params.repository}/freebayes:${params.tag}"
  $RunGenotypeGVCFs.container         = "${params.repository}/gatk:${params.tag}"
  $RunHaplotypecaller.container       = "${params.repository}/gatk:${params.tag}"
  $RunManta.container                 = "${params.repository}/sarek:${params.tag}"
  $RunMultiQC.container               = "${params.repository}/multiqc:${params.tag}"
  $RunMutect1.container               = "${params.repository}/mutect1:${params.tag}"
  $RunMutect2.container               = "${params.repository}/gatk:${params.tag}"
  $RunSamtoolsStats.container         = "${params.repository}/sarek:${params.tag}"
  $RunSingleManta.container           = "${params.repository}/sarek:${params.tag}"
  $RunSingleStrelka.container         = "${params.repository}/sarek:${params.tag}"
  $RunSnpeff.container = {params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  $RunStrelka.container               = "${params.repository}/sarek:${params.tag}"
  $RunStrelkaBP.container             = "${params.repository}/sarek:${params.tag}"
  $RunVEP.container = {params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
}
