/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Docker images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

docker {
  enabled = true
  fixOwnership = true
}

params.repository='maxulysse'
params.tag='1.2.3'
