/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation
 * as $NXF_HOME/config
 */


executor {
  name = 'local'
  queueSize = 1
  pollInterval = '30 sec'
  memory = 12.GB
}

params {
  runTime       = 2.h
  singleCPUMem  = 1.9.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}

params {
  genome        = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta'
  genomeIndex   = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.fai'
  mantaRef      = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta'
  mantaIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.fai'
  genomeDict    = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.dict'
  cosmic        = '/home/max/ReferenceAssemblies/hg38make/b37/b37_cosmic_v54_120711.vcf'
  cosmicIndex   = '/home/max/ReferenceAssemblies/hg38make/b37/b37_cosmic_v54_120711.vcf.idx'
  dbsnp         = '/home/max/ReferenceAssemblies/hg38make/b37/dbsnp_138.b37.vcf'
  dbsnpIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/dbsnp_138.b37.vcf.idx'
  kgIndels      = '/home/max/ReferenceAssemblies/hg38make/b37/1000G_phase1.indels.b37.vcf'
  kgIndex       = '/home/max/ReferenceAssemblies/hg38make/b37/1000G_phase1.indels.b37.vcf.idx'
  millsIndels   = '/home/max/ReferenceAssemblies/hg38make/b37/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  intervals     = "/home/max/ReferenceAssemblies/hg38make/b37/centromeres.list"
  acLoci        = '/home/max/ReferenceAssemblies/hg38make/b37/todo.txt'
  snpeffDb      = 'GRCh37.75'
}
