/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation
 * as $NXF_HOME/config
 */


executor {
  name = 'local'
  queueSize = 1
  pollInterval = '30 sec'
}

process {
  cpus = 8
  memory = 15.GB
  time = 1.h
}

params {
  runTime       = 2.h
  singleCPUMem  = 1.5.GB

  acLoci        = '/home/max/ReferenceAssemblies/hg38make/b37/1000G_phase3_20130502_SNP_maf0.3.loci'
  cosmic        = '/home/max/ReferenceAssemblies/hg38make/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf'
  cosmicIndex   = '/home/max/ReferenceAssemblies/hg38make/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf.idx'
  dbsnp         = '/home/max/ReferenceAssemblies/hg38make/b37/dbsnp_138.b37.vcf'
  dbsnpIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/dbsnp_138.b37.vcf.idx'
  genome        = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta'
  genomeAmb     = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.amb'
  genomeAnn     = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.ann'
  genomeBwt     = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.bwt'
  genomeDict    = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.dict'
  genomeIndex   = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.fai'
  genomePac     = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.pac'
  genomeSa      = '/home/max/ReferenceAssemblies/hg38make/b37/human_g1k_v37_decoy.fasta.sa'
  intervals     = "/home/max/ReferenceAssemblies/hg38make/b37/centromeres.list"
  kgIndels      = '/home/max/ReferenceAssemblies/hg38make/b37/1000G_phase1.indels.b37.vcf'
  kgIndex       = '/home/max/ReferenceAssemblies/hg38make/b37/1000G_phase1.indels.b37.vcf.idx'
  mantaIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/MANTA_human_g1k_v37_decoy.fasta.fai'
  mantaRef      = '/home/max/ReferenceAssemblies/hg38make/b37/MANTA_human_g1k_v37_decoy.fasta'
  millsIndels   = '/home/max/ReferenceAssemblies/hg38make/b37/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex    = '/home/max/ReferenceAssemblies/hg38make/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  snpeffDb      = 'GRCh37.75'
  vardictHome   = '/home/max/workspace/'
}
