/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Docker images for every process
 * -------------------------------------------------
 */

docker {
  enabled = true
  fixOwnership = true
}

process {
  $BuildBWAindexes.container          = 'maxulysse/caw:dev'
  $BuildPicardIndex.container         = 'maxulysse/picard:1.1'
  $BuildSAMToolsIndex.container       = 'maxulysse/caw:dev'
  $BuildVCFIndex.container            = 'maxulysse/igvtools:1.1'
  $ConcatVCF.container                = 'maxulysse/caw:dev'
  $CreateRecalibrationTable.container = 'maxulysse/gatk:1.1'
  $IndelRealigner.container           = 'maxulysse/gatk:1.1'
  $MapReads.container                 = 'maxulysse/caw:dev'
  $MarkDuplicates.container           = 'maxulysse/picard:1.1'
  $MergeBams.container                = 'maxulysse/caw:dev'
  $RealignerTargetCreator.container   = 'maxulysse/gatk:1.1'
  $RecalibrateBam.container           = 'maxulysse/gatk:1.1'
  $RunAlleleCount.container           = 'maxulysse/runallelecount:1.1'
  $RunAscat.container                 = 'maxulysse/runascat:1.1'
  $RunBamQC.container                 = 'maxulysse/qualimap:1.1'
  $RunBcftoolsStats.container         = 'maxulysse/caw:dev'
  $RunConvertAlleleCounts.container   = 'maxulysse/runconvertallelecounts:1.1'
  $RunFastQC.container                = 'maxulysse/fastqc:1.1'
  $RunFreeBayes.container             = 'maxulysse/freebayes:1.1'
  $RunHaplotypecaller.container       = 'maxulysse/gatk:1.1'
  $RunGenotypeGVCFs.container         = 'maxulysse/gatk:1.1'
  $RunManta.container                 = 'maxulysse/caw:dev'
  $RunSingleManta.container           = 'maxulysse/caw:dev'
  $RunMultiQC.container               = 'maxulysse/multiqc:1.1'
  $RunMutect1.container               = 'maxulysse/mutect1:1.1'
  $RunMutect2.container               = 'maxulysse/gatk:1.0'
  $RunSamtoolsStats.container         = 'maxulysse/caw:dev'
  $RunSnpeff.container = {params.genome == "GRCh38" ? 'maxulysse/snpeffgrch38:1.1' : 'maxulysse/snpeffgrch37:1.1'}
  $RunStrelka.container               = 'maxulysse/caw:dev'
  $RunVEP.container = {params.genome == "GRCh38" ? 'maxulysse/vepgrch38:1.1' : 'maxulysse/vepgrch37:1.1'}
}
