/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file reference genomes
 * -------------------------------------------------
 * Imported under all Nextflow profile in
 * nextflow.config
 * Can be modify if wanted to add specific versions
 * of genomes and such.
 * -------------------------------------------------
 */

params {
  genome = 'GRCh37'
  genomes {
    'GRCh37' {
      acLoci      = "$bundleDir/1000G_phase3_20130502_SNP_maf0.3.loci"
      cosmic      = "$bundleDir/b37_cosmic_v74.noCHR.sort.4.1.vcf"
      cosmicIndex = "${cosmic}.idx"
      dbsnp       = "$bundleDir/dbsnp_138.b37.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genome      = "$bundleDir/human_g1k_v37_decoy.fasta"
      bwaIndex    = "${genome}.{alt,amb,ann,bwt,pac,sa}"
      genomeDict  = "$bundleDir/human_g1k_v37_decoy.dict"
      genomeIndex = "${genome}.fai"
      intervals   = "$bundleDir/centromeres.list"
      kgIndels    = "$bundleDir/1000G_phase1.indels.b37.vcf"
      kgIndex     = "${kgIndels}.idx"
      millsIndels = "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.vcf"
      millsIndex  = "${millsIndels}.idx"
      snpeffDb    = "GRCh37.75"
    }
  'GRCh38' {
    acLoci        = "/dev/null"
    cosmic        = "/dev/null"
    cosmicIndex   = "/dev/null" //"${cosmic}.idx"
    dbsnp         = "$bundleDir/dbsnp_146.hg38.vcf.gz"
    dbsnpIndex    = "/dev/null" //"${dbsnp}.idx"
    genome        = "$bundleDir/Homo_sapiens_assembly38.fasta"
    bwaIndex      = "${genome}.64.*"
    genomeDict    = "$bundleDir/Homo_sapiens_assembly38.dict"
    genomeIndex   = "${genome}.fai"
    intervals     = "$bundleDir/wgs_calling_regions.hg38.interval_list"  // TODO different format
    kgIndels      = "/dev/null"
    kgIndex       = "/dev/null" //"${kgIndels}.idx"
    millsIndels   = "/dev/null"
    millsIndex    = "/dev/null" //${millsIndels}.idx"
    snpeffDb      = "GRCh38"
    }
  }
}
