/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on UPPMAX clusters
 * -------------------------------------------------
 */

params {
  genome = 'GRCh37'
  genomes {
    'GRCh37' {
      acLoci        = "$bundleDir/1000G_phase3_20130502_SNP_maf0.3.loci"
      cosmic        = "$bundleDir/b37_cosmic_v74.noCHR.sort.4.1.vcf"
      cosmicIndex   = "${cosmic}.idx"
      dbsnp         = "$bundleDir/dbsnp_138.b37.vcf"
      dbsnpIndex    = "${dbsnp}.idx"
      genome        = "$bundleDir/human_g1k_v37_decoy.fasta"
      genomeAlt     = ""
      genomeAmb     = "${genome}.amb"
      genomeAnn     = "${genome}.ann"
      genomeBwt     = "${genome}.bwt"
      genomeDict    = "$bundleDir/human_g1k_v37_decoy.dict"
      genomeIndex   = "${genome}.fai"
      genomePac     = "${genome}.pac"
      genomeSa      = "${genome}.sa"
      intervals     = "$bundleDir/centromeres.list"
      kgIndels      = "$bundleDir/1000G_phase1.indels.b37.vcf"
      kgIndex       = "${kgIndels}.idx"
      millsIndels   = "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.vcf"
      millsIndex    = "${millsIndels}.idx"
      snpeffDb      = "GRCh37.75"
    }
  }
}
