/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file reference genomes
 * -------------------------------------------------
 * Imported under all Nextflow profile in
 * nextflow.config
 * Can be modify if wanted to add specific versions
 * of genomes and such.
 * -------------------------------------------------
 */

params {
  genomes {
    'GRCh37' {
      bundleDir   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37'
      acLoci      = "$bundleDir/1000G_phase3_20130502_SNP_maf0.3.loci"
      cosmic      = "$bundleDir/b37_cosmic_v74.noCHR.sort.4.1.vcf"
      cosmicIndex = "${cosmic}.idx"
      dbsnp       = "$bundleDir/dbsnp_138.b37.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genome      = "$bundleDir/human_g1k_v37_decoy.fasta"
      bwaIndex    = "${genome}.{amb,ann,bwt,pac,sa}"
      genomeDict  = "$bundleDir/human_g1k_v37_decoy.dict"
      genomeIndex = "${genome}.fai"
      intervals   = "$bundleDir/wgs_calling_regions_CAW.list"
      knownIndels = [
        "$bundleDir/1000G_phase1.indels.b37.vcf",
        "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.vcf"
      ]
      knownIndelsIndex = [
        "$bundleDir/1000G_phase1.indels.b37.vcf.idx",
        "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.vcf.idx"
      ]
      snpeffDb    = "GRCh37.75"
    }
    'GRCh38' {
      bundleDir     = '/sw/data/uppnex/ToolBox/hg38bundle'
      acLoci        = "/dev/null"
      cosmic        = "${bundleDir}/COSMICv80.vcf.gz"
      cosmicIndex   = "${cosmic}.idx"
      dbsnp         = "$bundleDir/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex    = "${dbsnp}.tbi"
      genome        = "$bundleDir/Homo_sapiens_assembly38.fasta"
      genomeDict    = "$bundleDir/Homo_sapiens_assembly38.dict"
      genomeIndex   = "${genome}.fai"
      bwaIndex      = "${genome}.64.{amb,ann,bwt,pac,sa,alt}"
      intervals     = "$bundleDir/wgs_calling_regions_sorted.hg38.list"
      knownIndels   = [
        "$bundleDir/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz",
        "$bundleDir/beta/Homo_sapiens_assembly38.known_indels.vcf.gz"
      ]
      knownIndelsIndex = [
        "$bundleDir/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi",
        "$bundleDir/beta/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
      ]
      snpeffDb      = "GRCh38.82"
    }
    'smallGRCh37' {
      bundleDir   = 'References/smallGRCh37'
      acLoci      = "$bundleDir/1000G_phase3_20130502_SNP_maf0.3.small.loci"
      cosmic      = "$bundleDir/b37_cosmic_v74.noCHR.sort.4.1.small.vcf"
      cosmicIndex = "${cosmic}.idx"
      dbsnp       = "$bundleDir/dbsnp_138.b37.small.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genome      = "$bundleDir/human_g1k_v37_decoy.small.fasta"
      bwaIndex    = "${genome}.{amb,ann,bwt,pac,sa}"
      genomeDict  = "$bundleDir/human_g1k_v37_decoy.small.dict"
      genomeIndex = "${genome}.fai"
      intervals   = "$bundleDir/small.intervals"
      knownIndels = [
        "$bundleDir/1000G_phase1.indels.b37.small.vcf",
        "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.small.vcf"
      ]
      knownIndelsIndex = [
        "$bundleDir/1000G_phase1.indels.b37.small.vcf.idx",
        "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.small.vcf"
      ]
      snpeffDb    = "GRCh37.75"
    }
  }
}
