/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Configuration for running on a single UPPMAX node
 * such as milou or bianca
 * -------------------------------------------------
 */

env {
  NXF_WORK="/scratch"
}

params {
  singleCPUMem  = 8.GB
  totalMemory = 104.GB
}

process {
  cpus = 1
  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxForks = 2  // number of processess launched. If your process is using only a single CPU, and not that much memory, you can increase this value
  maxRetries = 3

  // These processes are defined in buildReferences.nf

  $BuildBWAindexes {
    memory = {params.totalMemory}
  }
  $BuildPicardIndex {
    memory = {params.totalMemory}
  }
  $BuildSAMToolsIndex {
    memory = {params.totalMemory}
  }
  $BuildVCFIndex {
    memory = {params.totalMemory}
  }

  // These processes are defined in main.nf

  $ConcatVCF {
    memory = {params.totalMemory}
    cpus = 16
  }
  $CreateRecalibrationTable {
    cpus = 16
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $IndelRealigner {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $MapReads {
    cpus = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $MarkDuplicates {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $MergeBams {
    cpus = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RealignerTargetCreator {
    cpus = 4
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $RecalibrateBam {
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunAlleleCount {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunAscat {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunBamQC {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunBcftoolsStats {
    memory = {params.totalMemory}
  }
  $RunConvertAlleleCounts {
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunFastQC {
    memory = {params.totalMemory}
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunFreeBayes {
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunHaplotypecaller {
    memory = {params.singleCPUMem * task.attempt * task.attempt } // this way the memory will increase quadratically as 8G, 32G, 72G
    maxForks = 16  // if you are running out of memory on a single node, due to task re-runs, decrease this value
  }
  $RunGenotypeGVCFs {
    memory = {params.singleCPUMem}
  }
  $RunManta {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunMultiQC {
    memory = {params.totalMemory}
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunMutect1 {
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunMutect2 {
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunSamtoolsStats {
    memory = {params.totalMemory}
  }
  $RunSnpeff {
    memory = {params.totalMemory}
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunStrelka {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunVEP {
    memory = {params.totalMemory}
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}
