/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Configuration for a UPPMAX localhost
 * (ie interactive mode on milou / a node on bianca)
 * -------------------------------------------------
 */

env {
  NXF_WORK="/scratch"
}

params {
  singleCPUMem  = 8.GB
}

process {
  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxForks = 2  // number of processess launched. If your process is using only a single CPU, and not that much memory, you can increase this value
  maxRetries = 3
  memory = 104.GB  // default assigned memory value for a single process

  $BuildBWAindexes {
    cpus = 16
  }
  $BuildPicardIndex {
    cpus = 16
  }
  $BuildSAMToolsIndex {
    cpus = 16
  }
  $BuildVCFIndex {
    cpus = 16
  }
  $ConcatVCF {
    cpus = 16
  }
  $CreateRecalibrationTable {
    cpus = 16
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $IndelRealigner {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $MapReads {
    cpus = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $MarkDuplicates {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $MergeBams {
    cpus = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RealignerTargetCreator {
    cpus = 4
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $RecalibrateBam {
    cpus = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunAlleleCount {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunAscat {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunBamQC {
    cpus = 16
  }
  $RunBcftoolsStats {
    cpus = 1
  }
  $RunConvertAlleleCounts {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunFastQC {
    cpus = 16
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunFreeBayes {
    cpus = 1
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunHaplotypecaller {
    cpus = 1
    memory = {params.singleCPUMem * task.attempt * task.attempt } // this way the memory will increase quadratically as 8G, 32G, 72G
    maxForks = 16  // if you are running out of memory on a single node, due to task re-runs, decrease this value
  }
  $RunGenotypeGVCFs {
    cpus = 1
    memory = {params.singleCPUMem}
  }
  $RunManta {
    cpus = 16
  }
  $RunMultiQC {
    cpus = 1
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunMutect1 {
    cpus = 1
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunMutect2 {
    cpus = 1
    maxForks = 16
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunSamtoolsStats {
    cpus = 1
  }
  $RunSnpeff {
    cpus = 1
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunStrelka {
    cpus = 16
  }
  $RunVEP {
    cpus = 1
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}
