/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation
 * as $NXF_HOME/config
 */

env {
  NXF_OPTS="-Xms1g -Xmx4g"
}

process {
  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxRetries = 3
  maxErrors = '-1'

  $RunFastQC {
    module = ['bioinfo-tools', 'FastQC/0.11.5']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $MapReads {
    module = ['bioinfo-tools', 'bwa/0.7.13', 'samtools/1.3']
    time = {params.runTime * task.attempt}
  }
  $MergeBams {
    module = ['bioinfo-tools', 'samtools/1.3']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  $MarkDuplicates {
    module = ['bioinfo-tools', 'picard/1.118']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $CreateIntervals {
    module = ['java/sun_jdk1.8.0_40']
    time = {params.runTime * task.attempt}
  }
  $RealignBams {
    module = ['java/sun_jdk1.8.0_40']
    time = {params.runTime * task.attempt}
    cpus = 4
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $CreateRecalibrationTable {
    module = ['java/sun_jdk1.8.0_40']
    time = {params.runTime * task.attempt}
    cpus = 10 
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $RecalibrateBam {
    module = ['java/sun_jdk1.8.0_40']
    time = {params.runTime * task.attempt}
    cpus = 8 
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $RunHaplotypecaller {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 8 *task.attempt}
  }
  $RunMutect1 {
    module = ['bioinfo-tools', 'java/sun_jdk1.7.0_25', 'mutect/1.1.5']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunMutect2 {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_40']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunFreeBayes {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_40', 'freebayes/1.0.2']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $RunVardict {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_40', 'R/3.2.3', 'gcc/4.9.2', 'perl/5.18.4']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $ConcatVCF {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92']
  }
  $RunStrelka {
    module = ['bioinfo-tools']
    time = {params.runTime * task.attempt}
  }
  $RunManta {
    module = ['bioinfo-tools', 'samtools/1.3', 'manta/1.0.0']
  }
  $RunAlleleCount {
    module = ['bioinfo-tools', 'alleleCount']
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunConvertAlleleCounts {
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunAscat {
    module = ['R/3.2.3']
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunMultiQC {
    module = ['bioinfo-tools', 'MultiQC/0.9']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}

params {
  genome        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta'
  genomeIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.fasta.fai'
  mantaRef      = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/MANTA_human_g1k_v37_decoy.fasta'
  mantaIndex    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/MANTA_human_g1k_v37_decoy.fasta.fai'
  genomeDict    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37_decoy.dict'
  cosmic        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf'
  cosmicIndex   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/b37_cosmic_v74.noCHR.sort.4.1.vcf.idx'
  dbsnp         = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf'
  dbsnpIndex    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/dbsnp_138.b37.vcf.idx'
  kgIndels      = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf'
  kgIndex       = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.idx'
  millsIndels   = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex    = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  intervals     = "/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/centromeres.list"
  acLoci        = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/1000G_phase3_20130502_SNP_maf0.3.loci'
  snpeffDb      = 'GRCh37.75'
  mutect1Home   = '/sw/apps/bioinfo/mutect/1.1.5/milou'
  snpeffHome    = '/sw/apps/bioinfo/snpEff/4.2/milou'
  picardHome    = '/sw/apps/bioinfo/picard/1.118/milou'
  gatkHome      = '/sw/apps/bioinfo/GATK/3.7'
  vardictHome   = '/sw/apps/bioinfo/VarDictJava/1.4.5/milou/VarDictJava/'
  strelkaHome   = '/sw/apps/bioinfo/strelka/1.0.15/milou'
  strelkaCFG    = '/sw/apps/bioinfo/strelka/1.0.15/milou/etc/strelka_config_bwa_default.ini'
}
