/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on UPPMAX clusters Milou and Bianca
 * -------------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  cpus = 8
  memory = 64.GB
  time = 1.h
}

params {
  runTime       = 1.h
  singleCPUMem  = 8.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}
