/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation 
 * as $NXF_HOME/config
 */

process {
  executor = 'local'
  cpus = 1
  memory = '8.GB'
  time = '1.h'
}

params {
  runTime       = '1.h'
  mutect1Mem    = '8.GB' // MuTect1 hardly ever uses more memory
  singleCPUMem  = '8.GB' // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}