/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

tag='1.2.3'

process {
  $BuildBWAindexes.container          = "containers/caw-${tag}.img"
  $BuildPicardIndex.container         = "containers/picard-${tag}.img"
  $BuildSAMToolsIndex.container       = "containers/caw-${tag}.img"
  $BuildVCFIndex.container            = "containers/igvtools-${tag}.img"
  $ConcatVCF.container                = "containers/caw-${tag}.img"
  $CreateRecalibrationTable.container = "containers/gatk-${tag}.img"
  $GenerateMultiQCconfig.container    = "containers/multiqc-${tag}.img"
  $IndelRealigner.container           = "containers/gatk-${tag}.img"
  $MapReads.container                 = "containers/caw-${tag}.img"
  $MarkDuplicates.container           = "containers/picard-${tag}.img"
  $MergeBams.container                = "containers/caw-${tag}.img"
  $RealignerTargetCreator.container   = "containers/gatk-${tag}.img"
  $RecalibrateBam.container           = "containers/gatk-${tag}.img"
  $RunAlleleCount.container           = "containers/runallelecount-${tag}.img"
  $RunAscat.container                 = "containers/r-base-${tag}.img"
  $RunBamQC.container                 = "containers/qualimap-${tag}.img"
  $RunBcftoolsStats.container         = "containers/caw-${tag}.img"
  $RunConvertAlleleCounts.container   = "containers/r-base-${tag}.img"
  $RunFastQC.container                = "containers/fastqc-${tag}.img"
  $RunFreeBayes.container             = "containers/freebayes-${tag}.img"
  $RunGenotypeGVCFs.container         = "containers/gatk-${tag}.img"
  $RunHaplotypecaller.container       = "containers/gatk-${tag}.img"
  $RunManta.container                 = "containers/caw-${tag}.img"
  $RunMultiQC.container               = "containers/multiqc-${tag}.img"
  $RunMutect1.container               = "containers/mutect1-${tag}.img"
  $RunMutect2.container               = "containers/gatk-${tag}.img"
  $RunSamtoolsStats.container         = "containers/caw-${tag}.img"
  $RunSingleManta.container           = "containers/caw-${tag}.img"
  $RunSingleStrelka.container         = "containers/caw-${tag}.img"
  $RunSnpeff.container                = {params.genome == "GRCh38" ? "containers/snpeffgrch38-${tag}.img" : "containers/snpeffgrch37-${tag}.img"}
  $RunStrelka.container               = "containers/caw-${tag}.img"
  $RunVEP.container                   = {params.genome == "GRCh38" ? "containers/vepgrch38-${tag}.img" : "containers/vepgrch37-${tag}.img"}
}
