/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  $BuildBWAindexes.container          = 'containers/caw-dev.img'
  $BuildPicardIndex.container         = 'containers/picard-1.1.img'
  $BuildSAMToolsIndex.container       = 'containers/caw-dev.img'
  $BuildVCFIndex.container            = 'containers/igvtools-1.1.img'
  $ConcatVCF.container                = 'containers/caw-dev.img'
  $CreateRecalibrationTable.container = 'containers/gatk-dev.img'
  $IndelRealigner.container           = 'containers/gatk-dev.img'
  $MapReads.container                 = 'containers/caw-dev.img'
  $MarkDuplicates.container           = 'containers/picard-1.1.img'
  $MergeBams.container                = 'containers/caw-dev.img'
  $RealignerTargetCreator.container   = 'containers/gatk-dev.img'
  $RecalibrateBam.container           = 'containers/gatk-dev.img'
  $RunAlleleCount.container           = 'containers/runallelecount-1.1.img'
  $RunAscat.container                 = 'containers/runascat-1.1.img'
  $RunBamQC.container                 = 'containers/qualimap-1.1.img'
  $RunBcftoolsStats.container         = 'containers/caw-dev.img'
  $RunConvertAlleleCounts.container   = 'containers/runconvertallelecounts-1.1.img'
  $RunFastQC.container                = 'containers/fastqc-1.1.img'
  $RunFreeBayes.container             = 'containers/freebayes-1.1.img'
  $RunGenotypeGVCFs.container         = 'containers/gatk-dev.img'
  $RunHaplotypecaller.container       = 'containers/gatk-dev.img'
  $RunManta.container                 = 'containers/caw-dev.img'
  $RunSingleManta.container           = 'containers/caw-dev.img'
  $RunMultiQC.container               = 'containers/multiqc-1.1.img'
  $GenerateMultiQCconfig.container    = 'containers/multiqc-1.1.img'
  $RunMutect1.container               = 'containers/mutect1-1.1.img'
  $RunMutect2.container               = 'containers/gatk-dev.img'
  $RunSamtoolsStats.container         = 'containers/caw-dev.img'
  $RunSnpeff.container                = {params.genome == "GRCh38" ? 'containers/snpeffgrch38-1.1.img' : 'containers/snpeffgrch37-1.1.img'}
  $RunStrelka.container               = 'containers/caw-dev.img'
  $RunVEP.container                   = {params.genome == "GRCh38" ? 'containers/vepgrch38-1.1.img' : 'containers/vepgrch37-1.1.img'}
}
