/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Singularity images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  $BuildBWAindexes.container          = 'docker://maxulysse/caw:dev'
  $BuildPicardIndex.container         = 'docker://maxulysse/picard:1.1'
  $BuildSAMToolsIndex.container       = 'docker://maxulysse/caw:dev'
  $BuildVCFIndex.container            = 'docker://maxulysse/igvtools:1.1'
  $ConcatVCF.container                = 'docker://maxulysse/caw:dev'
  $CreateRecalibrationTable.container = 'docker://maxulysse/gatk:dev'
  $IndelRealigner.container           = 'docker://maxulysse/gatk:dev'
  $MapReads.container                 = 'docker://maxulysse/caw:dev'
  $MarkDuplicates.container           = 'docker://maxulysse/picard:1.1'
  $MergeBams.container                = 'docker://maxulysse/caw:dev'
  $RealignerTargetCreator.container   = 'docker://maxulysse/gatk:dev'
  $RecalibrateBam.container           = 'docker://maxulysse/gatk:dev'
  $RunAlleleCount.container           = 'docker://maxulysse/runallelecount:1.1'
  $RunAscat.container                 = 'docker://maxulysse/runascat:1.1'
  $RunBamQC.container                 = 'docker://maxulysse/qualimap:1.1'
  $RunBcftoolsStats.container         = 'docker://maxulysse/caw:dev'
  $RunConvertAlleleCounts.container   = 'docker://maxulysse/runconvertallelecounts:1.1'
  $RunFastQC.container                = 'docker://maxulysse/fastqc:1.1'
  $RunFreeBayes.container             = 'docker://maxulysse/freebayes:1.1'
  $RunHaplotypecaller.container       = 'docker://maxulysse/gatk:dev'
  $RunGenotypeGVCFs.container         = 'docker://maxulysse/gatk:dev'
  $RunManta.container                 = 'docker://maxulysse/caw:dev'
  $RunSingleManta.container           = 'docker://maxulysse/caw:dev'
  $RunMultiQC.container               = 'docker://maxulysse/multiqc:dev'
  $RunMutect1.container               = 'docker://maxulysse/mutect1:1.1'
  $RunMutect2.container               = 'docker://maxulysse/gatk:dev'
  $RunSamtoolsStats.container         = 'docker://maxulysse/caw:dev'
  $RunSnpeff.container = {params.genome == "GRCh38" ? 'docker://maxulysse/snpeffgrch38:1.1' : 'docker://maxulysse/snpeffgrch37:1.1'}
  $RunStrelka.container               = 'docker://maxulysse/caw:dev'
  $RunVEP.container = {params.genome == "GRCh38" ? 'docker://maxulysse/vepgrch38:1.1' : 'docker://maxulysse/vepgrch37:1.1'}
}
