/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  $BuildBWAindexes.container          = "${params.containerPath}/sarek-${params.tag}.img"
  $BuildPicardIndex.container         = "${params.containerPath}/picard-${params.tag}.img"
  $BuildSAMToolsIndex.container       = "${params.containerPath}/sarek-${params.tag}.img"
  $BuildVCFIndex.container            = "${params.containerPath}/igvtools-${params.tag}.img"
  $ConcatVCF.container                = "${params.containerPath}/sarek-${params.tag}.img"
  $CreateRecalibrationTable.container = "${params.containerPath}/gatk-${params.tag}.img"
  $GenerateMultiQCconfig.container    = "${params.containerPath}/multiqc-${params.tag}.img"
  $IndelRealigner.container           = "${params.containerPath}/gatk-${params.tag}.img"
  $MapReads.container                 = "${params.containerPath}/sarek-${params.tag}.img"
  $MarkDuplicates.container           = "${params.containerPath}/picard-${params.tag}.img"
  $MergeBams.container                = "${params.containerPath}/sarek-${params.tag}.img"
  $RealignerTargetCreator.container   = "${params.containerPath}/gatk-${params.tag}.img"
  $RecalibrateBam.container           = "${params.containerPath}/gatk-${params.tag}.img"
  $RunAlleleCount.container           = "${params.containerPath}/runallelecount-${params.tag}.img"
  $RunAscat.container                 = "${params.containerPath}/r-base-${params.tag}.img"
  $RunBamQC.container                 = "${params.containerPath}/qualimap-${params.tag}.img"
  $RunBcftoolsStats.container         = "${params.containerPath}/sarek-${params.tag}.img"
  $RunConvertAlleleCounts.container   = "${params.containerPath}/r-base-${params.tag}.img"
  $RunFastQC.container                = "${params.containerPath}/fastqc-${params.tag}.img"
  $RunFreeBayes.container             = "${params.containerPath}/freebayes-${params.tag}.img"
  $RunGenotypeGVCFs.container         = "${params.containerPath}/gatk-${params.tag}.img"
  $RunHaplotypecaller.container       = "${params.containerPath}/gatk-${params.tag}.img"
  $RunManta.container                 = "${params.containerPath}/sarek-${params.tag}.img"
  $RunMultiQC.container               = "${params.containerPath}/multiqc-${params.tag}.img"
  $RunMutect1.container               = "${params.containerPath}/mutect1-${params.tag}.img"
  $RunMutect2.container               = "${params.containerPath}/gatk-${params.tag}.img"
  $RunSamtoolsStats.container         = "${params.containerPath}/sarek-${params.tag}.img"
  $RunSingleManta.container           = "${params.containerPath}/sarek-${params.tag}.img"
  $RunSingleStrelka.container         = "${params.containerPath}/sarek-${params.tag}.img"
  $RunSnpeff.container                = {params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.img" : "${params.containerPath}/snpeffgrch37-${params.tag}.img"}
  $RunStrelka.container               = "${params.containerPath}/sarek-${params.tag}.img"
  $RunStrelkaBP.container             = "${params.containerPath}/sarek-${params.tag}.img"
  $RunVEP.container                   = {params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.img" : "${params.containerPath}/vepgrch37-${params.tag}.img"}
}
