/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  withName:BuildBWAindexes {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:BuildReferenceIndex {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:BuildSAMToolsIndex {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:BuildVCFIndex {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:CompressVCF {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:ConcatVCF {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:CreateRecalibrationTable {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionAll {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.img"
  }
  withName:GetVersionASCAT {
    container = "${params.containerPath}/r-base-${params.tag}.img"
  }
  withName:GetVersionBamQC {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionBCFtools {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionBWAsamtools {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionFastQC {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionFreeBayes {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionGATK {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionManta {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionSnpeff {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.img" : "${params.containerPath}/snpeffgrch37-${params.tag}.img"}
  }
  withName:GetVersionStrelka {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionVCFtools {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:GetVersionVEP {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.img" : "${params.containerPath}/vepgrch37-${params.tag}.img"}
  }
  withName:IndelRealigner {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:MapReads {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:MarkDuplicates {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:MergeBams {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RealignerTargetCreator {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RecalibrateBam {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.img"
  }
  withName:RunAscat {
    container = "${params.containerPath}/r-base-${params.tag}.img"
  }
  withName:RunBamQC {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunBcftoolsStats {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunConvertAlleleCounts {
    container = "${params.containerPath}/r-base-${params.tag}.img"
  }
  withName:RunFastQC {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunFreeBayes {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunGenotypeGVCFs {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunHaplotypecaller {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunManta {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunMultiQC {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunMutect2 {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunSamtoolsStats {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunSingleManta {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunSingleStrelka {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunSnpeff {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.img" : "${params.containerPath}/snpeffgrch37-${params.tag}.img"}
  }
  withName:RunStrelka {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunStrelkaBP {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunVcftools {
    container = "${params.containerPath}/sarek-${params.tag}.img"
  }
  withName:RunVEP {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.img" : "${params.containerPath}/vepgrch37-${params.tag}.img"}
  }
}
