/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Define lists of refs, steps and outDir
 */

// Turning on trace tracking by default
trace {
  enabled = true
  fields = 'process,task_id,name,attempt,status,exit,realtime,%cpu,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

// Turning on timeline tracking by default
timeline {
  enabled = true
}