/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

env {
  NXF_OPTS="-Xms1g -Xmx4g"
}

process {
  cpus = 2
  memory = 7.GB
  time = 1.h
  maxErrors = '-1'
  maxRetries = 3
}
