/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

process {
  cpus = 2
  maxErrors = '-1'
  maxRetries = 3
  memory = 7.GB
  time = 1.h
}
