/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW
 * -------------------------------------------------
 * Configuration for Travis CI automated testing
 * -------------------------------------------------
 */


params {
  genome = 'smallGRCh37'
  genome_base = params.genome == 'GRCh37' ? '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37' : params.genome == 'GRCh38' ? '/sw/data/uppnex/ToolBox/hg38bundle' : 'References/smallGRCh37'
}

process {
  cpus = 2
  memory = 7.GB
}
