/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Configuration for Travis CI automated testing
 * -------------------------------------------------
 */


params {
  genome = 'smallGRCh37'
  genome_base = 'References/smallGRCh37'
  max_cpus = 2
  max_memory = 7.GB
  max_time = 1.h
}

process {
  cpus = params.max_cpus
  memory = params.max_memory
}
