/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Configuration for Travis CI automated testing
 * -------------------------------------------------
 */


params {
  genome = 'smallGRCh37'
}

process {
  cpus = 2
  memory = 7.GB
}
