/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * -------------------------------------------------
 * Configuration for running on a single UPPMAX node
 * such as milou or bianca
 * -------------------------------------------------
 */

env {
  NXF_WORK="/scratch"
}

params {
  singleCPUMem  = 8.GB
  totalMemory = 104.GB
}

process {
  // Default process resources

  // A process may use one core,
  cpus = 1

  // 8 GB of memory,
  memory = {params.singleCPUMem}

  // and 16 of them are allowed to be launched simultaneously.
  maxForks = 16

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  // These processes are defined in buildReferences.nf

  $BuildBWAindexes {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  $BuildPicardIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  $BuildSAMToolsIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }
  $BuildVCFIndex {
    memory = {params.totalMemory} // TODO This is likely too high
  }

  // These processes are defined in main.nf

  $ConcatVCF {
    cpus = 16
    memory = {params.totalMemory}
  }
  $CreateRecalibrationTable {
    cpus = 16
    memory = {params.totalMemory}
  }
  $IndelRealigner {
    memory = {returnMin(params.singleCPUMem * 2 * task.attempt, params.totalMemory)}
  }
  $MapReads {
    cpus = 16
    memory = {params.totalMemory}
  }
  $MarkDuplicates {
    memory = {returnMin(params.singleCPUMem * 2 * task.attempt, params.totalMemory)}
  }
  $MergeBams {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RealignerTargetCreator {
    cpus = 4
    memory = {returnMin(params.singleCPUMem * 4 * task.attempt, params.totalMemory)}
  }
  $RecalibrateBam {
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunAlleleCount {
    memory = {returnMin(params.singleCPUMem * 2 * task.attempt, params.totalMemory)}
  }
  $RunAscat {
    memory = {returnMin(params.singleCPUMem * 2 * task.attempt, params.totalMemory)}
  }
  $RunBamQC {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunBcftoolsStats {
  }
  $RunConvertAlleleCounts {
    memory = {returnMin(params.singleCPUMem * 2 * task.attempt, params.totalMemory)}
  }
  $RunFastQC {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunFreeBayes {
    memory = {returnMin(params.singleCPUMem * task.attempt, params.totalMemory)}
  }
  $RunHaplotypecaller {
    // Increase memory quadratically
    memory = {returnMin(params.singleCPUMem * task.attempt * task.attempt, params.totalMemory)}
  }
  $RunGenotypeGVCFs {
  }
  $RunManta {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunMultiQC {
  }
  $RunMutect1 {
  memory = {returnMin(params.singleCPUMem * task.attempt, params.totalMemory)}
  }
  $RunMutect2 {
  memory = {returnMin(params.singleCPUMem * task.attempt, params.totalMemory)}
  }
  $RunSamtoolsStats {
  }
  $RunSnpeff {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
    memory = {params.totalMemory} // TODO Does SnpEff really require that much?
  }
  $RunStrelka {
    cpus = 16
    memory = {params.totalMemory}
  }
  $RunVEP {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
    memory = {params.totalMemory} // TODO Does VEP really require that much?
  }
}
