/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation
 * as $NXF_HOME/config
 */

env {
  NXF_OPTS="-Xms1g -Xmx4g"
}

params {
  genome = 'GRCh37'
  genomes {
    'GRCh37' {
      vardictHome   = "/sw/apps/bioinfo/VarDictJava/1.4.5/milou/VarDictJava/"
    }
    'GRCh38' {
      vardictHome   = "/dev/null"
    }
  }
}

process {
  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxRetries = 3
  maxErrors = '-1'

  $RunFastQC {
    module = ['bioinfo-tools', 'FastQC/0.11.5']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $MapReads {
    module = ['bioinfo-tools', 'bwa/0.7.13', 'samtools/1.3']
    time = {params.runTime * task.attempt}
  }
  $MergeBams {
    module = ['bioinfo-tools', 'samtools/1.3']
    time = {params.runTime * task.attempt}
    memory = {params.singleCPUMem * task.attempt}
  }
  $MarkDuplicates {
    module = ['bioinfo-tools', 'picard/2.0.1']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $RealignerTargetCreator {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
  }
  $IndelRealigner {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  $CreateRecalibrationTable {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
    cpus = 10
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $RecalibrateBam {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
    cpus = 8
    memory = {params.singleCPUMem * 8 * task.attempt}
  }
  $RunSamtoolsStats {
    module = ['bioinfo-tools', 'samtools/1.3']
    time = {params.runTime * task.attempt}
    cpus = 1
  }
  $RunHaplotypecaller {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt * task.attempt } // this way the memory will increase quadratically as 8G, 32G, 72G
  }
  $RunMutect1 {
    module = ['bioinfo-tools', 'java/sun_jdk1.7.0_25', 'mutect/1.1.5']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunMutect2 {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunFreeBayes {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'freebayes/1.0.2']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * task.attempt}
  }
  $RunVardict {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'R/3.2.3', 'gcc/4.9.2', 'perl/5.18.4']
    time = {params.runTime * task.attempt}
    cpus = 1
    memory = {params.singleCPUMem * 4 * task.attempt}
  }
  $ConcatVCF {
    module = ['bioinfo-tools', 'java/sun_jdk1.8.0_92', 'GATK/3.7', 'picard/2.0.1']
    cpus = 1
  }
  $RunStrelka {
    module = ['bioinfo-tools', 'strelka/1.0.15']
    time = {params.runTime * task.attempt}
  }
  $RunManta {
    module = ['bioinfo-tools', 'samtools/1.3', 'manta/1.0.3']
  }
  $RunAlleleCount {
    module = ['bioinfo-tools', 'alleleCount/2.2.0']
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunConvertAlleleCounts {
    module = ['R/3.2.3']
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunAscat {
    module = ['R/3.3.2']
    cpus = 1
    memory = {params.singleCPUMem * 2 * task.attempt}
  }
  $RunSnpeff {
    module = ['bioinfo-tools', 'snpEff/4.2']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $RunMultiQC {
    module = ['bioinfo-tools', 'MultiQC/0.9']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}
