/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on milou (UPPMAX)
 * -------------------------------------------------
 * Should be saved either within CAW installation
 * as nextflow.config, or with Nextflow installation
 * as $NXF_HOME/config
 */

process {
  clusterOptions = {"-A $params.project"}
  cpus = 16
  executor = 'slurm'
  memory = 110.GB
  queue = 'node'
  time = 48.h

  // specific queue for specific processes
  $ConcatVCF.queue = 'core'
  $CreateRecalibrationTable.queue = 'core'
  $IndelRealigner.queue           = 'core'
  $MarkDuplicates.queue           = 'core'
  $MergeBams.queue                = 'core'
  $RecalibrateBam.queue           = 'core'
  $RunAlleleCount.queue           = 'core'
  $RunAscat.queue                 = 'core'
  $RunConvertAlleleCounts.queue   = 'core'
  $RunFreeBayes.queue             = 'core'
  $RunHaplotypecaller.queue       = 'core'
  $RunMutect1.queue               = 'core'
  $RunMutect2.queue               = 'core'
  $RunVardict.queue               = 'core'
}

params {
  runTime       = 48.h
  singleCPUMem  = 7.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}
