/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on UPPMAX clusters
 * -------------------------------------------------
 */

params {
  genome = 'GRCh37'
  genomes {
    'GRCh37' {
      bundleDir     = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37'
      vardictHome   = "/sw/apps/bioinfo/VarDictJava/1.4.5/milou/VarDictJava/"
    }
    'GRCh38' {
      bundleDir     = '/sw/data/uppnex/ToolBox/hg38bundle'
      acLoci        = "/dev/null"
      cosmic        = "/dev/null"
      genome        = "$bundleDir/Homo_sapiens_assembly38.fasta"
      dbsnp         = "$bundleDir/dbsnp_146.hg38.vcf.gz"
      genomeDict    = "$bundleDir/Homo_sapiens_assembly38.dict"
      intervals     = "$bundleDir/wgs_calling_regions.hg38.interval_list"  // TODO different format
      kgIndels      = "/dev/null"
      millsIndels   = "/dev/null"
      snpeffDb      = "/dev/null"
      vardictHome   = "/dev/null"
      bwaIndex      = "${genome}.64.*"

      genomeIndex   = "${genome}.fai"
      cosmicIndex   = "/dev/null" //"${cosmic}.idx"
      dbsnpIndex    = "/dev/null" //"${dbsnp}.idx"
      kgIndex       = "/dev/null" //"${kgIndels}.idx"
      millsIndex    = "/dev/null" //${millsIndels}.idx"
    }
  }
}
