/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for CAW project
 * working on UPPMAX clusters
 * -------------------------------------------------
 */

params {
  genome = 'GRCh37'
  genomes {
    'GRCh37' {
      bundleDir     = '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37'
      acLoci        = "$bundleDir/1000G_phase3_20130502_SNP_maf0.3.loci"
      cosmic        = "$bundleDir/b37_cosmic_v74.noCHR.sort.4.1.vcf"
      genome        = "$bundleDir/human_g1k_v37_decoy.fasta"
      dbsnp         = "$bundleDir/dbsnp_138.b37.vcf"
      genomeDict    = "$bundleDir/human_g1k_v37_decoy.dict"
      intervals     = "$bundleDir/centromeres.list"
      kgIndels      = "$bundleDir/1000G_phase1.indels.b37.vcf"
      millsIndels   = "$bundleDir/Mills_and_1000G_gold_standard.indels.b37.vcf"
      snpeffDb      = "GRCh37.75"
      vardictHome   = "/sw/apps/bioinfo/VarDictJava/1.4.5/milou/VarDictJava/"

      genomeAmb     = "${genome}.amb"
      genomeAnn     = "${genome}.ann"
      genomeBwt     = "${genome}.bwt"
      genomeIndex   = "${genome}.fai"
      genomePac     = "${genome}.pac"
      genomeSa      = "${genome}.sa"
      genomeAlt     = ""
      cosmicIndex   = "${cosmic}.idx"
      dbsnpIndex    = "${dbsnp}.idx"
      kgIndex       = "${kgIndels}.idx"
      millsIndex    = "${millsIndels}.idx"
    }
    'GRCh38' {
      bundleDir     = '/sw/data/uppnex/ToolBox/hg38bundle'
      acLoci        = "/dev/null"
      cosmic        = "/dev/null"
      genome        = "$bundleDir/Homo_sapiens_assembly38.fasta"
      dbsnp         = "$bundleDir/dbsnp_146.hg38.vcf.gz"
      genomeDict    = "$bundleDir/Homo_sapiens_assembly38.dict"
      intervals     = "$bundleDir/wgs_calling_regions.hg38.interval_list"  // TODO different format
      kgIndels      = "/dev/null"
      millsIndels   = "/dev/null"
      snpeffDb      = "/dev/null"
      vardictHome   = "/dev/null"

      genomeIndex   = "${genome}.fai"
      genomeAmb     = "${genome}.64.amb"
      genomeAnn     = "${genome}.64.ann"
      genomeBwt     = "${genome}.64.bwt"
      genomePac     = "${genome}.64.pac"
      genomeSa      = "${genome}.64.sa"
      genomeAlt     = "${genome}.64.alt"  // TODO actually use this
      cosmicIndex   = "/dev/null" //"${cosmic}.idx"
      dbsnpIndex    = "/dev/null" //"${dbsnp}.idx"
      kgIndex       = "/dev/null" //"${kgIndels}.idx"
      millsIndex    = "/dev/null" //${millsIndels}.idx"
    }
  }
}
