/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test,<extra_test_profile>,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input                  = "${projectDir}/tests/csv/3.0/recalibrated_tumoronly.csv"
    genome                 = null
    igenomes_ignore        = true
    dbsnp                  = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz"
    dbsnp_tbi              = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz.tbi"
    fasta                  = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta"
    fasta_fai              = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta.fai"
    germline_resource      = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz"
    germline_resource_tbi  = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz.tbi"
    intervals              = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/sequence/multi_intervals.bed"
    pon                    = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz"
    pon_tbi                = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz.tbi"
    ngscheckmate_bed       = "${params.modules_testdata_base_path}/genomics/homo_sapiens/genome/chr21/germlineresources/SNP_GRCh38_hg38_wChr.bed"
    mutect2_force_call     = "${projectDir}/testing/test_force_call.vcf.gz"
//    mutect2_force_call_tbi = "${projectDir}/testing/test_force_call.vcf.gz.tbi"
    nucleotides_per_second = 20
    step                   = 'variant_calling'
    tools                  = null
    wes                    = true
}
