name: nf-core/sarek lint
# This workflow is triggered on pushes and PRs to the repository.
on: [push, pull_request]  

jobs:
  Markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '10'
      - name: Install markdownlint
        run: |
          npm install -g markdownlint-cli
      - name: Run Lint
        run: |
          markdownlint ${GITHUB_WORKSPACE} -c ${GITHUB_WORKSPACE}/.github/markdownlint.yml