name: "Test Report"
on:
  workflow_run:
    workflows: ["nf-core CI"] # runs after CI workflow
    types:
      - completed
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v1
        with:
          artifact: nf-test-test-results # artifact name
          name: nf-test Tests # Name of the check run which will be created
          path: "TEST-*.xml" # Path to test results (inside artifact .zip)
          reporter: java-junit # Format of test results
